[2015-06-19 19:46] alinz opened #1 "try to extend the RCTWebView"

[2015-06-19 19:50] #1 closed

[2015-06-23 12:00] tazmattaz opened #3 "[React native webView bridge] -"
I am using this plugin to connect webView with my React Native code. I can send multiple messages from React Native to webView. But when I try to send message from webView to React native then I can send this only once. When I tried to send message again then it is showing error message. I tried hard to fix this but unable to fix. I am using same example as defined - I just added one button into H

[2015-06-23 12:34] alinz commented on #3
Thanks for using my plugin,
One thing you should do is every time your onMessage callback called, you have to register your callback again.

so here's what I have in one of my project:

[code]

So once the component mounted, I registered my callback and for every message that I receive I re-register the callback again.

[2015-06-24 04:32] tazmattaz commented on #3
Thanks for early reply.
Yes, I tried this and it worked.

:)

[2015-06-24 04:32] #3 closed

[2015-06-24 12:47] alinz commented on #3
I have a patch that fixes this issue. I will update you once it's ready.

[2015-06-24 18:01] alinz opened #4 "require to inject some to global value to window object."
This can be used for passing jwt token to webview, before your application is boots up.

[2015-06-24 18:41] #4 closed

[2015-06-30 18:26] KevinGrandon opened #5 "Request: Add support for injecting a user script"
Stumbled across this project, thank you for the work here.

I think it would be really nice if there was some way to inject a user script into the webview. The idea is something like eval(), but having the content live in flat files. I think that this would make the library much easier to use.

The suggested api would be something like:
[code]

[2015-06-30 18:48] alinz commented on #5
Hello Keving,
Thanks for kind words. I have implemented the eval for the project but I have not be able to find a time to document it properly. [Here](https://github.com/alinz/react-native-webview-bridge/blob/master/jsx/webview-bridge.js#L185-L187) the code that does the execution.  At the moment you can't load the file and execute it. What  you have to do is pass the a valid javascript string int

[2015-06-30 20:00] KevinGrandon commented on #5
Hi, thanks for the quick response! I agree that the eval method is useful, but I do think it would be nice to be able to wrap it in a way which could load content from a file on disk (as you might need to execute a large amount of script).

I'm going to play with this to see if I can implement what I am thinking of, and might be able to send you a pull request.

[2015-06-30 20:28] alinz commented on #5
Agreed, you might want to look into [this](https://github.com/alinz/react-native-webview-bridge/blob/master/WebViewBridge/WebViewJavascriptBridge.m#L258-L261) since `WebViewJavascriptBridge` loads `WebViewJavascriptBridge.js.txt` as a file and injects it into webview. You might simply add a new method and duplicate the code there and replace it with some file content loader.

[2015-06-30 21:24] KevinGrandon opened #6 "WebViewExManager.NavigationType error when starting project"
Hi @alinz - I'm seeing some errors when trying to use this project, and I was wondering if you had any ideas.

2015-06-30 14:19:56.194 [error][tid:com.facebook.React.JavaScript] "Error: undefined is not an object (evaluating 'WebViewExManager.NavigationType')
 stack:
  <unknown>       index.ios.bundle:43155
  require         index.ios.bundle:244
  <unknown>       index.ios.bundle:42219
  require

[2015-06-30 22:12] alinz commented on #6
couple of things,
- Have you added objecttiv-c folder into the project as instructed in readme file?
- if you are sending a message from webview to react-native, as soon as you get a message you have to register your callback again similar to issue #3
- would you provide react-native version and node version that you are using?
- how would I replicate this issue. Right now I'm using this library a

[2015-06-30 22:18] KevinGrandon commented on #6
Yes.

I don't think this is the issue, a I get this issue only from including react-native-webview-bridge (without sending messages yet). I am doing so by running common js modules in babel.
[code]

node: 0.12.4
react-native: 0.6.0

[2015-06-30 22:48] KevinGrandon commented on #6
Does anything special need to be done for this project in build phases?

[2015-06-30 23:17] KevinGrandon commented on #6
As an update: it seems adding all of the individual files (instead of folder) seems to get me a bit further. I recommend updating the documentation, or probably packaging these files into a bundle?

[2015-07-01 15:47] KevinGrandon commented on #5
Well, maybe this is not needed. I've found a workaround, and here it is if anyone finds this in the future:

[code]

[2015-07-01 15:47] #5 closed

[2015-07-01 17:00] KevinGrandon opened #8 "onNavigationStateChange is not fired for WebViewBridge components"
onNavigationStateChange is fired for the normal react WebView components, but not WebViewBridge components.

@alinz  - any ideas why?

[2015-07-02 12:56] alinz commented on #6
Thanks for helping me out. I've been busy with stuff. By tomorrow I should be ready to read everything and get back to github.
Again thank you,

[2015-07-04 20:21] Squeegy commented on #6
Getting this too. Not sure why but it apears that var `require('NativeModules')` does not return the `WebViewExManager` key. So React Native isn't finding the module for export somehow?

[2015-07-04 20:40] Squeegy commented on #6
Yeah so I'm not enough of an XCode wizard to know what's really going on, but I did get it to work if I manually added all the `WebViewEx*.m` files to the "Compile Sources" in "Build Phases". though it's a bit weird as those files are now double referenced in my project tree.

[2015-07-04 21:28] alinz commented on #6
I think I need to make it as a bundle project. I will get back to you. But for now, keep working with this hack solution until I get everything sorted.

btw, thanks for reporting.

[2015-07-04 21:34] alinz commented on #8
That is interesting. I have extended `RCTWebView` and added couple of new [methods](https://github.com/alinz/react-native-webview-bridge/blob/master/WebViewBridge/WebViewEx.h). I will keep this one tested one more time.

[2015-07-04 22:01] KevinGrandon commented on #8
I'm new to this stuff, so this could be totally wrong. I tired adding some logging in various spots, and it seems we never call the original webViewDidFinishLoad method here:  https://github.com/facebook/react-native/blob/master/React/Views/RCTWebView.m#L198

It seems like this check is failing for me as well, but I'm not sure how these delegate objects are supposed to act: https://github.com/alin

[2015-07-07 21:21] alinz commented on #8
I think I know why `onNavigationStateChange` never gets fired. Because `WebViewJavascriptBridge.m` overridden react's `RCTWebView`'s `shouldStartLoadWithRequest` method. I'm working on it to make it working. I don't know how yet but I might be able to fix this.

[2015-07-08 16:34] alinz commented on #6
Ok, I push new version and I cleaned up some part of the code. It should be good for version 0.6 and above.

I have also changed the version number matched with react-native. In this way it would be a lot easier for everyone to load only specific version.

[2015-07-08 16:43] alinz commented on #8
I need some help. I have already posted a question on react-native https://github.com/facebook/react-native/issues/1908. I need more time to tackle this problem.

I have also a hacky solution for it util I fix it properly(Don't get mad :dancers: ). So what you can do is injecting javascript to register a callbacks for both `onload` and `onbeforeunload ` to call `send` method to signal react-native

[2015-07-08 18:07] KevinGrandon commented on #8
No worries, good to know and thanks for following up with the React team. I wonder if it makes sense to just fork the entire component and integrate the necessary pieces if they aren't responsive.

[2015-07-08 18:29] KevinGrandon commented on #3
@alinz - Hey, just wondering if you had that patch handy?

I noticed that even if I register my callback immediately, I still miss messages. It's easy for me to reproduce by calling bridge.send twice. E.g.,

[code]

[2015-07-08 19:03] alinz commented on #3
Sorry about that,
one thing you can do is wrap `send` with higher order function and call it with `setTimeout`.

For example:

[code]

so now your `bridge.send` becomes async which might solve this problem.

p.s. For some reason `higher order function` becomes the next big thing :P

[2015-07-10 11:44] MossP commented on #5
@KevinGrandon - Do you have an example of some script that you were able to execute inside the webview? I'm struggling just get an alert box to show.. I'm using your load & inject script and pointing to a basic test script

[code]

[2015-07-10 12:21] MossP commented on #5
OK. I worked it out. I didn't need any of the preface, just simply the call to window.alert(). That should enable me to continue. Thanks for this plugin @alinz . Great work :)

[2015-07-10 18:40] alinz commented on #8
@KevinGrandon I'm starting to refactoring the code. Based on that issue on react-native, I found a way to clean up code properly. I think it should be done in few days.

[2015-07-10 20:37] KevinGrandon commented on #8
Great news - thank you so much for being responsive here. Looking forward to seeing what you come up with. :+1:

[2015-07-14 19:14] alinz commented on #8
@KevinGrandon, I have changed a lot of things. I think it should fix the problem if you upgrade to 0.3.0. Let me know if you still have that problem.

[2015-07-14 19:14] #8 closed

[2015-07-14 19:18] alinz commented on #6
@Squeegy  as of 0.6, you should not use `require('NativeModules')` directly. You have to use:

[code]

I have also made new version with a new technique which can mostly solve all these problem. Take a look at it and let me know if you still have that problem.

[2015-07-14 19:18] #6 closed

[2015-07-14 19:19] alinz commented on #5
@MossP I have upgraded to 0.3.0. You might want to use this version instead.

[2015-07-14 20:06] KevinGrandon opened #9 "Update version to 0.7.0"
Hi @alinz -

Thank you so much for the recent fixes. Just wanted to say that previously you had published v0.6.0, but then with the latest fixes the version changed to v0.3.0?

It seems like the easiest way to rectify this would be to publish a 0.7.0 version - let me know what you think.

[2015-07-14 20:07] KevinGrandon commented on #9
Looks like this happened here: https://github.com/alinz/react-native-webview-bridge/commit/233aa3f9e3db03a11f9ffa959107550fb0bdaf97#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L3

[2015-07-15 12:39] alinz commented on #9
At the beginning, I thought if I sync this project's version with react-native's version, that would be a lot easier for everyone to follow up and sync their projects. but so I realize that it's bad idea and since only a few people are using it, I decided to take action and remove version 0.6 and change it to 0.2.2 and release the new version as 0.3.

Another reason is that, I need couple of versi

[2015-07-15 14:54] KevinGrandon commented on #9
Sure, if you've removed 0.6.0, I think that's fine. Although, you basically have infinite version numbers until 1.0. E.g., 0.9.0, 0.10.0, 0.11.0.

Just be careful though, in the future it's always best to increment, it can help the upgrade flow.

[2015-07-15 14:54] #9 closed

[2015-07-15 15:07] alinz commented on #9
Thanks for the info. I think I was too tired when I mentioned version number. :(
Please let me know how the new version works for you.

[2015-07-15 15:26] KevinGrandon commented on #9
I am having a few problems. Will file a new issue, and if you could help me I would really appreciate it! Thanks!

[2015-07-15 15:32] KevinGrandon opened #10 "Unable to send messages through evalScript() logic"
I am unable to send messages through evaluated scripts, since the latest version has landed. This was working before, but after the update it no longer works. I noticed that eval was changed to evalScript, and I'm wondering if this is still intended to work? My code looks like:

[code]

@alinz - Any ideas? Thank you!

[2015-07-15 19:56] alinz commented on #10
One thing to be aware of, WebView in 0.7.0, 0.7.1 and 0.8 is broken, I have created an issue about it. I thought I did something, but turns out to be something else. Here's the issue https://github.com/facebook/react-native/issues/2010

However, if you target your react-native version to 0.6, you should not have any problem.

About your problem, one thing I notice is that when you load an URL, Web

[2015-07-15 21:05] alinz commented on #10
@KevinGrandon I have push a new version plus I added one example which covers your use case. Let me know if you find anything else.

[2015-07-15 21:11] MossP commented on #5
I'll have a look at that, thank you.

[2015-07-15 21:11] MossP commented on #5
Thanks @alinz, I'll take a look.

[2015-07-15 21:20] KevinGrandon commented on #10
@alinz Thanks! I will test the latest soon. Could you publish version `0.3.1` to npm?

[2015-07-15 22:06] KevinGrandon commented on #10
This is great, looks like I just needed to call the `injectBridgeScript` function. Things seem to be working again, and quite well. I think if you just publish 0.3.1 to npm we should be good!

[2015-07-15 23:39] alinz commented on #10
It's published in NPM! I will close this ticket. Reopen it if it occurs again.

[2015-07-15 23:39] #10 closed

[2015-07-17 19:23] KevinGrandon opened #11 "Warning when building, Method definition for 'baseEvent' not found"
When building with this project, I see the following warning:

[code]

[2015-07-18 14:11] alinz commented on #11
It should be fine. I tried to expose `baseEvent` from private to public. Since objective-c is based on passing messages, at the compile time it doesn't find the implementation of `baseEvent`. However at runtime it will find it.

[2015-07-18 14:42] KevinGrandon commented on #11
Ok, thanks!

[2015-07-18 14:42] #11 closed

[2015-07-24 20:09] KevinGrandon opened #12 "Tracking: Upgrade to react-native@0.8"
It would be nice to be able to upgrade to react-native@0.8. I'm opening this to track the issue, and potentially investigate fixes.

There is an issue filed in the react-native project at: https://github.com/facebook/react-native/issues/2010

In the meantime, we may be able to implement a retry workaround. @lightsofapollo commented there with,

[2015-07-24 20:15] alinz commented on #12
Thanks @KevinGrandon. At the moment I think the current version can be compiled against 0.8 version of react-native. However, because of that issue, you will be stuck!

I can't wait to opgrade, but because my app is depends on WebView heavily, I can not risk it. I just have to wait a little bit longer. I might end up fixing the react-native bug if I find some time off in the weekend!

[2015-07-27 18:40] KevinGrandon commented on #12
@alinz - When trying to upgrade to 0.8 locally, I ran into this error message: `'Error: undefined is not a function (evaluating \'this.getWebWiewHandle()\')\n stack: \n  getWebViewBridgeHandler`

This seems a bit different than the one reported in the react-native bug. Were you seeing this error message as well?

[2015-07-27 21:15] alinz commented on #12
@KevinGrandon My current app is heavily dependent on WebView. I have been blocked by that issue 2010. I really want to continue but until this bug gets fix, there is no point to upgrade to 0.8.

However, I will give it another shot by end of today or tomorrow. I will let you know.

btw, thank you for helping me out.

[2015-07-29 10:09] liuda101 opened #13 "this.getWebViewHandle is not a function"
I use this tool in my RN (v0.8.0) project. When I run the project, it shows this bug.

![image](https://cloud.githubusercontent.com/assets/1198861/8955138/d2c21d3c-361c-11e5-93a6-b91fbcd805a3.png)

I followed the methods on the doc.

[2015-07-29 13:37] alinz commented on #13
@liuda101 This issue was being tracked here #12 I will let you know very soon about update. However, I welcome PR from you if you find the issue :D

[2015-07-29 22:01] skitterm commented on #12
There is a typo in the jsx script file -- it says "getWebWiewHandle" instead of "getWebViewHandle". Didn't solve my problem, but nonetheless...

[2015-07-29 23:34] alinz commented on #12
@skitterm this is really funny! until 0.8-rc2, it was `getWebWiewHandle` and they have change it to `getWebViewHandle` at [this commit](https://github.com/facebook/react-native/commit/bb141e3a3c14d45e56fd897499b8aad1a1e7d814#diff-eb29dcb037331f7852621383e484d706L182). Thanks for pointing this out.

As far as I know, the WebView bug still there. I'm trying to find some time and find the actual bug

[2015-08-04 17:01] skitterm commented on #12
Sounds good. A little more digging on my part: I found that on ComponentDidMount, WebViewManager didn't have the bridgeSetup method attached (the only methods that were there were goBack, goForward, and reload, and the NavigationType property).

[2015-08-04 17:11] alinz commented on #12
OK, I have released a new version which fixes the crash issue in react-native 0.7 above. Please upgrade to 0.3.2 and let me know if you have this issue.

cc: @skitterm @KevinGrandon

[2015-08-04 17:14] alinz commented on #13
@liuda101, I have pushed the new fix which target this issue. in react-native 0.6 and below, there was a typo in code base which forces me to use `getWebWiewHandle`. The react-native team fixed this issue and I have fixed mine as well. So please upgrade to 0.3.2 and open this issue if you see this problem again.

[2015-08-04 17:14] #13 closed

[2015-08-04 17:17] alinz commented on #12
I'm going to close this issue since I have tested with 0.8 and above. One thing you guys have to be aware is that, 0.9 has `-rc` in there version number which causes npm to throw an error. For time being, you can fork the react-antive and edit the package.json or fork this project and added -rc to dependencies value.

[2015-08-04 17:17] #12 closed

[2015-08-04 17:47] skitterm commented on #12
It looks like I still have the same error: undefined is not a function (evaluating WebViewHandler.bridgeSetup(handlerId)) at WebViewBridge, line 76.

I'm using React-Native 0.8.0 and version 0.3.2 of this library (and the newest version of the react-native-cli). I created a new project with the CLI, linked up the library, added in a basic WebViewBridge, and ran it. The above error was what I got.

[2015-08-04 18:58] alinz commented on #12
@skitterm this only happens if you don't include the objective-c into your project.
I have tested the Sample project and it seems working. So I think you missed one step.

Here's my approach to install this library.

1: add the `react-native-webview-bridge` in your project's package.json.
2: npm install
3: go to xcode and right click on Libraries
4: select `Add files to "..."`
5: go to node_module

[2015-08-04 19:02] alinz commented on #12
One more thing, I have updated the version to 0.3.3, I found the bug and I fixed it.

[2015-08-05 01:36] liuda101 commented on #13
@alinz thank you very much! Bug has gone :D

[2015-08-21 12:27] varmab opened #15 "Request: Printing webview contents"
Can we add support for printing webview contents to air printer?
My need is to add print button to print contents of webview.

This is code in objective-c to print webview contents just to give you an idea.
http://stackoverflow.com/questions/6544733/ios-air-print-for-uiwebview

Any ideas how?

[2015-08-21 14:16] alinz commented on #15
@varmab, I have implemented print feature. You can now upgrade to 0.3.5 and you should be able to print.

Here's a [sample code](https://github.com/alinz/react-native-webview-bridge/blob/v0.3.5/example/Sample1/index.ios.js#L53).

Thanks for the tip and sorry about the delay.

Regards,

[2015-08-21 14:16] #15 closed

[2015-08-22 04:36] seanchenca commented on #12
It seems that the "undefined is not a function (evaluating WebViewManager.bridgeSetup(this.getWebViewBridgeHandler());" is coming back. I am using 0.3.5 and React Native 0.9.
<img width="376" alt="screen shot 2015-08-21 at 9 35 37 pm" src="https://cloud.githubusercontent.com/assets/561815/9422550/9e299dba-484c-11e5-8f27-53052b116150.png">

[2015-08-22 16:08] alinz commented on #12
I've been using this in my app with react-native 0.10 and I have not seen this issue. Can you provide me some sample code? then I can help you with this.

[2015-08-22 19:45] seanchenca commented on #12
Hi alinz, here is my index.io.js:
[code]
I have try leaving url: {url} in the render() function but it's the same. Here is the index.html under web/ :
[code]
After I click on Dismiss (ESC) the page does show up (displaying "Hi"). Below is the screen shot of my project. Thanks for looking into it.

<img width="257" alt="screen shot 2015-08-22 at 12 38 47 pm" src="https://cloud.githubusercontent.com

[2015-08-22 20:06] KevinGrandon commented on #12
You might need to add the files individually to the Libraries folder (instead of adding the entire folder).

[2015-08-23 00:15] seanchenca commented on #12
Have just tried that. Now got these compile error. Not sure why Xcode doesn't recognize nonnull?

<img width="1021" alt="screen shot 2015-08-22 at 5 13 12 pm" src="https://cloud.githubusercontent.com/assets/561815/9426364/28255820-48f1-11e5-812f-edd49f3d1674.png">

[2015-08-23 02:00] alinz commented on #12
Remove the nonnull if you are using react-native under 0.9.

[2015-08-23 03:11] seanchenca commented on #12
Wow, that does the trick! The error is gone and it works now. Thanks for the help!

[2015-08-23 03:35] alinz commented on #12
`nonnull` was introduced to the react-native api to compatible with Android version. Always read the release notes from the api to make sure you don't break any changes. here's the [link](https://github.com/facebook/react-native/releases)

[2015-08-23 04:20] seanchenca commented on #12
I think I am using react-native 0.9.0. Should I add the nonnull only after upgrade to 0.10.0?

[2015-08-23 06:13] alinz commented on #12
@seanchenca Yes! based on release note, you should use `nonnull` after upgrading to 0.10.x

[2015-08-23 18:08] seanchenca commented on #12
Thanks for the info alinz. Will remember to add them back once I upgrade.

[2015-08-24 10:54] tazmattaz opened #16 "How can I open external links in safari.app from WebView?"
Hello,

I am using this plugin, but I am facing one problem into webView. If there are external links into html content and we try to click on link it is replacing our content with new URL.
It should open in popup with close button or open in safari browser.
Have you noticed this issue?

I have inserted some patch into plugin but need to confirm from your side?

I am not a objective-s developer so

[2015-08-24 20:18] smartdemocracy opened #17 "README example incomplete"
Missing  `webviewRef.injectBridgeScript();` in `componentDidMount`

[2015-08-24 20:24] alinz commented on #17
Make a PR and I will be happy to merge it. thanks!

[2015-08-24 20:30] smartdemocracy commented on #17
I had done wrong 😅, sorry and Thank you!

[2015-08-24 20:31] #17 closed

[2015-08-26 09:46] tazmattaz opened #19 "Issue while sending JSON from react native to web by webview-bridge"
Hello,

I am using your plugin from start. Previously it was working very fine but when I updated your latest version then I am facing below issues.

Issue1: If we send some simple json from react native to weView then it is working fine. But when I tried below JOSN (some dummy JSON) then it is not sending message to webView.

[code]

Issue 2: I sent message as object but when I got this from web

[2015-08-26 13:41] alinz commented on #19
So you are sending `data` and the content that you are receiving is in string?
Can't you apply `JSON.parse` on the received data to convert to JSON object?

[2015-08-26 13:42] alinz commented on #16
I've been busy a little bit. I will look at this today or tomorrow.

[2015-08-27 12:48] tazmattaz commented on #19
Can't you apply JSON.parse on the received data to convert to JSON object?
Yes I am using this function to convert to JSON object. I have fixed fixed both issues at my end(with some patches). But this should not convert to string.

I have fixed previous issue as well but with patch.
First of all I converted my object into string and then call JavaScript function `escape(jsonstring)` and send to we

[2015-08-28 00:38] varmab opened #21 "Couldn't run sample code"
Any ideas about this issue?

![screen shot 2015-08-27 at 5 35 21 pm](https://cloud.githubusercontent.com/assets/4167060/9536579/4df70702-4ce2-11e5-99a8-7cc776445fb5.png)

[2015-08-28 02:01] alinz commented on #21
Can you change the `iOS Deployment target` from 7.1 to 8.0 or above.

[2015-09-01 12:01] tazmattaz opened #22 "Crashes app while navigating webView pages from one to other"
Hello,

I am facing crash issue with webView Bridge. When I navigate to webViewBridge page and before loading that page click on back button my app is crashing.
When I send quick messages from webView to react native its crashing too (with backspace - deleting content from webview textarea and sending content to react native on change).

Most of cases app is stuck into below line:
"" RCTLogMustFix

[2015-09-04 20:07] hyusetiawan commented on #21
<img width="969" alt="screen shot 2015-09-04 at 1 02 52 pm" src="https://cloud.githubusercontent.com/assets/1062920/9693517/e786773a-5305-11e5-8131-e15f44c39f42.png">
I am getting almost the same error

[2015-09-08 14:01] alinz commented on #21
@hyusetiawan @varmab can you try a new version? The thing is, you have to use react-native 0.10.0 and above. Re open if this happens again.

[2015-09-08 14:01] #21 closed

[2015-09-16 19:10] alinz commented on #22
I might start implementing a retry method to prevent this issue. Give me couple of days. Sorry that it takes tool long to answer.

[2015-09-16 19:13] alinz commented on #19
data must be stringified before sending to React-Native component or WebView. I don't want to enforce user to use JSON. in your case, it is your responsibility to handle what type of data you are sending. I'm just handling the transfer.

[2015-09-16 19:13] alinz commented on #16
This is on my list to add in this weekend. I will update you!

[2015-09-22 07:49] tazmattaz commented on #16
Ok. Thanks, I am eagerly waiting for your next release where this issue will be fixed.
Beside this, please take care of crash issue ...

THanks in advance.

[2015-09-22 10:49] tazmattaz opened #24 "IFrame not supporting in webView Bridge"
Hello,

I was tried to implement iFrame into webViewBridge but either it was crashing our app or showing black area. It is working fine with webView. We need asap this feature.

Thanks in Advance.

[2015-09-28 13:40] victorkas commented on #22
Hi Alinz,

I'm also experiencing this issue "Invalid view returned from registry", is there a workaround in the mean time?

Thanks!

[2015-09-28 19:03] alinz commented on #22
@victorkas I have experiences this crash in simulator. However, in device, I haven't seen it yet. Have you seen this happening in device?

[2015-09-29 01:54] victorkas commented on #22
Thanks @alinz . I traced the issue and it looks like a fetch() call in a view code that when it returns tries to send a message to WebViewBridge and causes the issue if the component has unmounted. I'm not sure if there's a cleaner way to detect if a component has unmounted, but i've added a check to avoid the crash -
if (!this.refs.webViewBridge) return;

[2015-09-30 06:39] tazmattaz commented on #22
Hi @alinz, yes I am facing this issue in device too. Cause of this issue I have to stop some important tasks which is using webview bridge. So I need this asap. :(

Thanks in advance.

[2015-09-30 13:01] alinz commented on #22
@tazmattaz I need some time for this since I have to dive into React-Native code base. in a meantime can you provide a simple example that always causes this problem?

[2015-10-05 04:40] tazmattaz commented on #22
I cannot provide the main code but this happens usually while we typing into any textarea/textfield or navigate from one page to another(both or single page use webview)  or if any age use webview and we click on back button without loading that page.
In all of above cases, my app is crashing....

[2015-10-06 20:56] olivierlesnicki opened #25 "If url is dynamic the bridge scripts don't get re-injected on url change"

[2015-10-06 22:03] olivierlesnicki opened #26 "Failure on callbackHandler(@[messageArray]); when using .send()"
![image](https://cloud.githubusercontent.com/assets/1705944/10323981/769e80b6-6c7e-11e5-8a4d-2ae4271c4471.png)

[2015-10-07 13:02] alinz commented on #24
Sorry @tazmattaz for a long delay. I might have a solution for this, give me couple of more days to test and implement it. I will update you

[2015-10-07 13:07] alinz commented on #26
Can you post a sample code here? If I have a sample code I can fix this bug faster. Thanks

[2015-10-07 13:08] alinz commented on #25
hmm, interesting, let me finds a way to fix this issue. Thanks for reporting this issue.

[2015-10-12 02:27] jjshammas opened #27 "Error when being used inside a Navigator"
When the bridge is used inside of a navigator scene, and the scene is unmounted, I get this error:

<img width="487" alt="screen shot 2015-10-11 at 10 26 11 pm" src="https://cloud.githubusercontent.com/assets/2018797/10420686/3d66e4fe-7067-11e5-98c3-5889f7ebc36d.png">

Any ideas on a fix?

[2015-10-12 07:34] Prometheuser commented on #27
same situation...

[2015-10-13 20:16] carbonphyber commented on #22
Reproducible code:
https://gist.github.com/carbonphyber/edb83eecec4a38efa1ca
I modified Sample1.
Steps to reproduce:
 1. close iOS Simulator and React Native packager if running.
 2. replace `index.ios.js` in Sample1 from [react-native-webview-bridge](https://github.com/alinz/react-native-webview-bridge) repo with the `index.ios.js` code from [this Gist](https://gist.github.com/carbonphyber/edb83e

[2015-10-13 20:17] carbonphyber commented on #27
Duplicate of [ Crashes app while navigating webView pages from one to other #22 ](https://github.com/alinz/react-native-webview-bridge/issues/22).

[2015-10-14 14:35] olivierlesnicki commented on #26
This happens when no .onMessage() handlers have been defined on the react-native code size.

[2015-10-15 09:33] WJWang opened #28 "WebViewManager.bridgeSetup is not a function"
Hi alinz,
I use the version react-native ^0.12.0, but I have a problem similar with #12 .
Here is my settings and testing code, is there any details may I have missed?

![issue](https://cloud.githubusercontent.com/assets/2817235/10509859/3d80b840-7362-11e5-9015-55e203188a39.png)
[code]

[2015-10-15 10:23] WJWang commented on #28
After I pull all the dependency files out of the upper directory, it work well.
![2015-10-15 6 21 56](https://cloud.githubusercontent.com/assets/2817235/10511114/a3fa94cc-7369-11e5-9c1b-59d8d5e467d4.png)

[2015-10-15 10:24] #28 closed

[2015-10-17 00:33] dvine-multimedia opened #29 "NSUnknownKeyException"
I get this error just by instantiating the WebViewBridge. The full error is:

2015-10-16 20:24:11.076 iphoneDEV[84420:4635019] *** WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSUnknownKeyException> [<RCTWebView 0x7fd3ec0e4750> valueForUndefinedKey:]: this class is not key value coding-compliant for the key _eventD

[2015-10-20 11:33] gre commented on #28
that doesn't look a good solution though. Ideally `react-native-webview-bridge` should provide an xcodeproj project like in all other react-native lib

[2015-10-20 11:34] gre commented on #29
same issue

[2015-10-21 00:00] carbonphyber commented on #29
same issue.
I got it after updating my `react-native` from `0.10.0` to `0.12.0` and node from `0.x.y` to `4.2.1`.

[2015-10-21 19:59] carbonphyber commented on #29
Just confirmed this exists in `react-native-webview-bridge` (new react-native app with no other components/dependencies) running on `node 4.2.1`.

    "react-native": "^0.12.0",
    "react-native-webview-bridge": "^0.3.6"

[2015-10-21 21:47] carbonphyber commented on #29
I was able to reproduce this issue after I converted the `WebViewBridge` component to a `WebView` component. It might be the underlying react native component or possibly something the two components have in common.

[2015-10-25 02:29] bryanlarsen opened #31 "broken with react-native 0.12 & 0.13?"
To reproduce:

- react-native init AwesomeProject
- replace AwesomeProject#render with `return <WebView style={{flex:1}} html="<html><body><h1>Hi</h1></body></html>" />;`
- run the project and notice it works
- install react-native-webview-bridge as per instructions
- run the project and notice the blank screen you get
- npm install react-native@0.11.4
- run the project and notice that it works

N

[2015-10-26 19:44] NoelBaron commented on #29
I experienced this issue after switching from `WebView` to `WebViewBridge`.

[2015-10-26 19:51] NoelBaron commented on #31
Same here. Considering reverting to 0.11.4 if Ali is too busy to address.

[2015-10-26 20:06] NoelBaron commented on #29
Reverted from ```react-native 0.13.1``` to ```react-native 0.11.4```.
Issue resolved.

[2015-10-26 20:56] jjshammas commented on #31
+1

[2015-10-26 20:59] alinz commented on #31
I am extremely sorry, I've been very busy. I will address this issue ASAP. I will also accept PRs :+1:  if you guys can help me out!

[2015-10-26 21:27] jjshammas commented on #31
@NoelBaron  @bryanlarsen
I was able to fix with this quick change: https://github.com/jjshammas/react-native-webview-bridge/commit/7c1cc248289a668300db119d077c2d80039e76be

But I'm not using the bridge very extensively in my project, so give it a shot. If it seems to be working for you guys as well, this may be the solution.

[2015-10-27 14:21] NoelBaron commented on #31
It solved the loading issue for me, but for some reason I cannot access WebViewBridge from the remote website's javascript. It looks like the injection fails.

[2015-11-04 21:32] rick-li commented on #29
Looks like webViewBridge uses private _eventDispatcher from RCTWebView, however that variable has been removed in latest release. see https://github.com/facebook/react-native/commit/848839858b4f4e03b83e625304af21aa8dd8ff05

[2015-11-04 23:39] dsun412 commented on #31
@NoelBaron I was able to get it working on React Native 0.13 by converting webview-bridge-script.js into a minified JS string, and then manually retrieve the handlerId using:
[code]
Finally, you can use your the `injectedJavaScript` property on the WebView to manually inject the JS without having to touch any Objective-C code.

[2015-11-05 03:48] bryanlarsen commented on #31
@rick-li appears to have a fix in #32

[2015-11-05 04:04] alinz opened #33 "create proper xcodeproj"

[2015-11-05 04:46] #33 closed

[2015-11-05 04:57] alinz commented on #28
@gre OK, I've heard you :P, I have updated the project to support that. Enjoy! :beer:

[2015-11-05 04:59] alinz commented on #31
OK guys, thanks to @rick-li, it is now fully functional in latest react-native. One other thing is, I have moved all the files into proper xcodeproj. You just have to add it to your project and make sure you to add to your `Link Binary With Libraries` project. I will update the Readme.

[2015-11-05 04:59] #31 closed

[2015-11-05 05:00] alinz commented on #29
I have merge the the PR from @rick-li, it should be fixed now.

[2015-11-05 05:00] #29 closed

[2015-11-05 05:01] alinz commented on #19
@tazmattaz please re-open this issue if you still have that!

[2015-11-05 05:01] #19 closed

[2015-11-05 07:06] gre commented on #28
:+1: awesome

[2015-11-05 08:31] gre commented on #25
Also getting this issue.
I even tried to re-call `bridge.injectBridgeScript();` multiple time after url changes, but the bug still happening.

Wouldn't it possible that the script always is injected (to all pages), without having to imperatively call `bridge.injectBridgeScript();` on user-side ?

[2015-11-05 16:12] dvine-multimedia commented on #29
Great, thanks a lot @alinz and @rick-li !!

[2015-11-05 18:54] alinz commented on #25
@gre I will need to look into when I'm fresh, I will debug this during weekend and get back to you ASAP. Thanks for the feedback!

[2015-11-06 02:54] bryanlarsen opened #34 "Maximum message size?"
Is there a maximum message size for messages going to the webview?   Small messages are getting through, but I don't receive messages a a few kilobytes in size.

[2015-11-06 03:39] alinz commented on #34
You should never sends a large data via message. It will slow down your app.
it needs to go through couple of layers.

[code]

use it as a signal mechanism to talk to your React-Native app. That was the whole intention.

[2015-11-06 03:41] bryanlarsen commented on #34
I certainly hope that a couple of kilobytes isn't large.

I found the problem, it was quote marks.

[2015-11-06 03:41] #34 closed

[2015-11-06 03:44] bryanlarsen opened #35 "messages containing single quotes can't be sent"
For instance, you can't send "You can't send this".     JSON.stringify'ing it doesn't help, URL encoding or something similar is required to pass single quote marks.

[2015-11-06 03:45] alinz commented on #34
I have an app which uses this feature and I'm passing json back and forth. To be honest with you I have even send 100 to 200 kb without any problems. However, I found that too many calls causes some issues in animation. So if you are designing your app based on that make sure you are testing the limit.

Good that you found the actual problem!

[2015-11-06 03:51] alinz commented on #35
@bryanlarsen, I wanted the developer decide how they want to transfer their data. Maybe somebody else wants to send base64 or even binary data. So since both web and React-native are controlled by developer, it would be better to let the developer decide what best for him/her. However if you can find a way to transmit your data, I will be more than happy to help you.

[2015-11-06 04:02] bryanlarsen commented on #35
Your code is:

[code]

That puts pretty strong limits on what can be passed through the bridge.   JSON encoding is not good enough.  The documentation should mention that.  I'll open a PR.

[2015-11-09 15:41] CorpusCallosum commented on #27
+1

[2015-11-10 16:24] bryanlarsen commented on #35
AFAICT, there are no good options for an encoding that will pass a single quote.   I was using base64, but that broke as soon as I turned off the chrome debugger: `atob` and `btoa` aren't available in JavascriptCore.  I could pull in a third party module to do encoding, but seems silly.  Instead, I removed the single quotes in WebViewBridge.m#send, and then simply use JSON.stringify in my client c

[2015-11-12 08:05] gs-akhan commented on #27
Does this fail ? When you use this inside <NavigatorIOS> or some link navigation inside webview ?
Thanks

[2015-11-13 06:57] gs-akhan commented on #22
@alinz  Hi,
This is resolved. ?

[2015-11-23 16:26] CorpusCallosum commented on #27
Hi I was able to circumvent the error by wrapping the cleanup call back in a try-catch. I created a fork here: https://github.com/CorpusCallosum/react-native-webview-bridge

You can install it via NPM by adding this line in your package.json dependencies:
"react-native-webview-bridge": "https://github.com/CorpusCallosum/react-native-webview-bridge/tarball/master"

[2015-11-23 16:29] CorpusCallosum commented on #22
Hi I was able to circumvent the error by wrapping the cleanup call in a try-catch. I created a fork here: https://github.com/CorpusCallosum/react-native-webview-bridge

You can install it via NPM by adding this line in your package.json dependencies:
"react-native-webview-bridge": "https://github.com/CorpusCallosum/react-native-webview-bridge/tarball/master"

I'm not sure what the cleanup call is

[2015-11-25 17:16] bsudekum opened #38 "Support html={} option"
It'd be great if you did not have supply a `url` and you had the option to supply raw html.

[2015-11-25 17:49] CorpusCallosum opened #39 "Argument 0 (NSNumber) of RCTWebViewManager.bridgeSetup must not be null"
I'm getting this error:

What does it mean?

Thanks,
Jack

[2015-11-27 15:46] johanmontan commented on #12
Had the same issues even thought I followed the instructions in  [Linking Libraries(]http://facebook.github.io/react-native/docs/linking-libraries-ios.html) as it was my first react-native project and didn't have a clue where to begin.
I realised that the this library didn't build properly so I commented out the code that didn't work. In this case RCTLogMustFix().
(Running in react-native 0.15.0 w

[2015-11-27 15:49] johanmontan commented on #28
Had the same issues even thought I followed the instructions in [Linking Libraries](http://facebook.github.io/react-native/docs/linking-libraries-ios.html) as it was my first react-native project and didn't have a clue where to begin.
I realised that the this library didn't build properly so I commented out the code that didn't work. In this case RCTLogMustFix().
(Running react-native 0.15.0 withi

[2015-11-30 12:25] lucars opened #40 "WebViewBridge is undefined"
* I install react-native-webview-bridge following the installation, and run Sample1 APP successfully.
* Then I create a page using `WebViewBridgeReady` and `WebViewBridge.send` just like the Example.
* I modify the Example trying to send message manually by press a button.
* But the document listener `WebViewBridge` is not triggered, and nothing is sent when I'm pressing the button.

I'm trying to

[2015-12-07 13:50] gre commented on #40
Same problem to me. The example does not log any "Received message".

[2015-12-07 13:59] gre commented on #40
This bug is because the "pathForResource" doesn't work here:

<img width="787" alt="screen shot 2015-12-07 at 14 58 57" src="https://cloud.githubusercontent.com/assets/211411/11628613/201f9568-9cf3-11e5-88ac-1e664ed2c37c.png">

Workaround:

copy webview-bridge-script.js into your own project folder in XCode...

[2015-12-07 14:04] gre commented on #25
Hi, actually this seems to work:
[code]

you can reinject the script everytime the page changes

of course you also need to fix this: https://github.com/alinz/react-native-webview-bridge/issues/40#issuecomment-162530985

[2015-12-07 16:44] ikeafurniture commented on #39
I'm getting a very similar error:

It happens when I rerender the component containing the webview as another component without a webview. Don't think I am doing anything wrong...

[2015-12-09 18:39] alinz commented on #22
I have found and rewritten this module and I think this error has been resolved. The only thing that you have to remember is it has a hard dependency to react-native 0.16 and above. I will make support for 0.15 and 0.14 if I receive enough request. Please reopen this issue if you still encounter this problem.

[2015-12-09 18:39] #22 closed

[2015-12-09 18:40] alinz commented on #24
@tazmattaz Sorry for a long delay. I have release a new version which only supports 0.16 and above. It should fixes your problem. Let me know if you still have that issue.

[2015-12-09 18:40] #24 closed

[2015-12-09 18:42] alinz commented on #25
@gre the new version will automatically inject script if it detects url changes. I think it should fixes your problem as well. Please reopen this issue if you still have the same problem.

[2015-12-09 18:42] #25 closed

[2015-12-09 18:43] alinz commented on #38
@bsudekum I have released a new version which will fix this issue. Please reopen this if necessary.

[2015-12-09 18:43] #38 closed

[2015-12-09 18:44] alinz commented on #27
@jjshammas the new version will fix this issue since. Please reopen this issue if you have the same error.

[2015-12-09 18:44] #27 closed

[2015-12-09 18:45] alinz commented on #26
@olivierlesnicki with the new version release today you won't have the same issue any more.

[2015-12-09 18:45] #26 closed

[2015-12-09 18:48] alinz commented on #40
@lucars the native will manage the injection. so it is guarantee to have `WebViewBridge` object in global scope. Please try the new version. I have also updated doc with more details.

@gre I have ported the bridge script into objective c code so there won't be any manual work of adding `webview-bridge-script.js` as one of bundle.

Please reopen if you have this issue.

[2015-12-09 18:48] #40 closed

[2015-12-09 18:52] alinz commented on #35
@bryanlarsen Your use-case is very specific. Remember, the bridge can only accept string format. You should always use it as a signal rather than sending raw data. It makes your life easier and of course makes the app runs faster.

Please try to use the new version and let me know if it fixes the problem.

I will keep this issue open for further discussion.

[2015-12-09 18:54] alinz commented on #39
@CorpusCallosum and @ikeafurniture I don't think this issue will happen with the new release. Please try the new release. Make sure that you guys are using the react-native 0.16 and above. Please reopen this issue if you have the same error

[2015-12-09 18:54] #39 closed

[2015-12-09 18:54] gre commented on #40
great work! thanks!

[2015-12-09 18:57] alinz commented on #16
@tazmattaz I have decided to take the path of just add only those feature that relevant to make the communication happens between native and webview. In this way the code can be maintainable and doing only one thing. I will keep this issue open so we can discuss the implementation. However, you are more than welcome to fork the project and implement all the features that you need.

[2015-12-09 19:15] alinz commented on #12
@johanmontan I have updated the doc and released a new version. Please give it a shot and let me know.

[2015-12-09 20:28] CorpusCallosum commented on #27
Hi @alinz thanks for your fix. I just tried to upgrade the packages, but now when I run my xcode project, I get the following error:
[code]

Looks like it's trying to reference the original class paths, that have changed. How can I fix this?

[2015-12-09 21:09] alinz commented on #27
@CorpusCallosum couple of things:
1: what version of react are you using? the latest version of WebViewBridge needs to be run with React-native 0.16 and above. I have a plan to make 0.15 and 0.14 but I only support 0.16.
2: Make sure you remove `react-native-webview-bridge` folder from your `node_modules`. remove `.a` files from `Target` section and remove `projxcode` from `Library` then follow th

[2015-12-09 21:42] CorpusCallosum commented on #27
@alinz Thanks for the quick reply. As it turns out I still had the original version of the library class files in my xcode project Libraries folder. I had to remove these and add the new project file, and now it builds.

[2015-12-10 04:03] EricPKerr opened #41 "Support file={} option"
Similar to https://github.com/alinz/react-native-webview-bridge/issues/38 - It would be nice to link to a local html file instead of pulling in a raw HTML string.

Ideally this would be able to link to other local resources (like additional js/css/images), but those could probably be inlined if necessary.

[2015-12-10 05:30] alinz commented on #41
@EricPKerr thank you for your suggestion BUT:

The whole purpose of this module is to extend the WebView to support communication between native js and web js. if you can provide the valid use case I will be happy to think and might start implementing it into this module.

Couple of things to know which preventing me to do this:
- `same origin policy` since you are loading the page from local
- if

[2015-12-10 06:10] EricPKerr commented on #41
My specific example is embedding the Google Maps JS SDK as there is not yet currently a working react-native Google Maps component.  Enabling this to exist in the webview bridge will allow react-native apps to use these web libraries while their native counterparts are being developed by the community.

[2015-12-10 15:15] alinz commented on #41
@EricPKerr I can build the foundation in react-native for google map SDK in iOS. Would you be interested of becoming the contributor for that? I need to maintain every single modules and they take all my time. If you willing to help as a maintainer, I will gladly build one for you.

[2015-12-10 18:45] EricPKerr commented on #41
@alinz yeah - that sounds great.  Feel free to email me with specifics on what to do next, it's my github username at gmail.com.

[2015-12-14 07:41] tazmattaz opened #43 "Can not access `WebViewBridge` global variable from webview bridge file"
Hello,

I created webviewBridge like:

[code]

[code]

how can I access webViewBridge from index.html?
My index.html file as below:

[code]

Thanks in advance.

[2015-12-14 16:01] alinz commented on #43
@tazmattaz thanks for filing an issue. I have added custom event trigger. I have updated module to support this. Also in your html code, you have a syntax error.

[code]

fix that and I think you should be able to use the bridge again. Let me know if you still have that. If you manage to fix this issue please go ahead and close this ticket.

cheers

[2015-12-15 21:21] jjshammas opened #44 "Android support"
I've completed Android support in my fork of this project: https://github.com/jjshammas/react-native-webview-bridge

Haven't had time to bring myself up-to-date with yours but feel free to take from mine if you have plans to work on Android.

[2015-12-15 21:45] alinz commented on #44
@jjshammas, It looks good, would you please make a PR.

[2015-12-16 04:19] tazmattaz commented on #43
@alinz thanks for quick reply.
I found that issue, actually the issue was with time. I put some delay before call below function  connectWebViewJavascriptBridge = function(callback) {
}

It fixed my problem. I checked and found that all previous issues has been gone(crash issues).
:+1:

going to close this issue.

Thanks.

[2015-12-16 04:19] #43 closed

[2015-12-21 16:55] barbarosh commented on #44
@alinz  @jjshammas Hi! When you plan include android support ?

[2015-12-21 19:01] alinz commented on #44
@barbarosh I will spend some time in holidays to go over @jjshammas implementation and see if I can put it into the android. Also Android WebView has been added to 0.17. So I have to play around with it and see if I can extend it the way that I extend the iOS version. I will keep you posted.

[2015-12-23 11:32] lucars commented on #40
It works. Great job. Thanks!

[2015-12-24 09:55] guizmaii commented on #44
+1 =)

[2016-01-11 16:09] rmevans9 commented on #44
Any update on this? I have been using @jjshammas fork to do some testing but I want to try and get to the real repo with Android support so I can keep up with @alinz updates.

[2016-01-15 04:35] TOP-Chao opened #45 "sendToBridge invalid"
I don't understand why `sendToBridge` is used in `setTimeout`, and `onLoadingFinish`  `onLoadingStart`  `onLoadingError` is not valid.<br />
Do you have a detailed documentation?
[code]

[2016-01-15 20:56] bigali commented on #44
hi , any update on android support  , I really need it

[2016-01-18 01:45] TOP-Chao commented on #45
@alinz  i realy need help.

[2016-01-19 19:45] alinz commented on #45
@TOP-Chao, one thing you should know is that, you can't send a message from react-native to webview at the beginning. The reason for that is we don't know when the page is loading on WebView. You might have a slow connection. So what you should do is sending a message from WebView to react-native first to tell native side that you program has already been loaded and executed successfully.

So don'

[2016-01-19 19:48] alinz commented on #41
@EricPKerr have you seen this [react-native-maps](https://github.com/lelandrichardson/react-native-maps)? Is this going to help you, if so please close this ticket.

[2016-01-20 00:15] alinz commented on #44
@jjshammas can you make a PR for this?

[2016-01-20 05:42] EricPKerr commented on #41
@alinz looks like a pretty great library. Still unfortunately doesn't use Google Maps for iOS, but i'll probably just roll with this.

[2016-01-20 05:42] #41 closed

[2016-01-20 14:09] priithaamer commented on #44
+1 for this :) The one from @bongole works fine for me, only the sendToBridge method seems to be missing.

[2016-01-22 08:12] Elyx0 opened #46 "Practical links when using webviews"
Maybe add http://stackoverflow.com/questions/26005641/are-cookies-in-uiwebview-accepted to the readme ? As it saved me I think others might be interested. Please close if irrelevant.

[2016-01-25 08:42] MacKentoch commented on #44
hi, thank you for this webview bridge!

Any news, plan for android support?

[2016-01-26 09:55] naeemulhaque opened #49 "How can I use WebViewBridge within ScrollView?"
Hi -
I am trying to show multiple url's in a scroll view. Has anyone tried this or can help point out the problem?

    <ScrollView>
        <WebViewBridge> </WebViewBridge>
        <AnotherComp/>
        <WebViewBridge> </WebViewBridge>
        <WebViewBridge> </WebViewBridge>
    </ScrollView>

[2016-01-27 14:50] alinz commented on #49
@naeemulhaque `WebViewBridge` is the same as `WebView` with extra features. and to me `WebView` is just another `View`. You should be able to use it inside `ScrollView`. What you can do is implement your code using `WebView` and if you need an interaction the switch the component with `WebViewBridge`.

Also the provided code is technically should work. if not you have to paste more code and descri

[2016-01-28 04:24] naeemulhaque commented on #49
Thanks. I'll give that a try and get back.

[2016-02-03 14:02] CreativeManix commented on #44
please add android support.

[2016-02-03 14:36] alinz commented on #44
I'm working on it. It requires a little bit of refinement before I can release it. Please wait a little bit longer. Thanks for waiting...

[2016-02-05 17:13] gre commented on #44
@alinz cool :)

[2016-02-05 20:36] MacKentoch commented on #25
hi @alinz

Which version does fix auto re-inject scripts?

I'm trying to implement in ReactNative what I already did with a WKWebview in Swift but no success until now.
Hopefully you gave us all this bridge otherwise I would have to give up.

*I guess I will soon have to learn more about bridging Swift Views with React Native*

[2016-02-06 09:07] MacKentoch commented on #25
I remove my previous message.

I use versions `0.16.1` and it works nicely : `scripts keep registered`

My problem came from a need to launch a custom registered javascript in webView on each webView load (for instance after form submit).

My solution was just a simple add-on (to manage window.onLoad) in injectedScript :

[code]

[2016-02-06 16:14] alinz commented on #25
@MacKentoch what I ended up doing was to react to URL change on WebView. once URL changes, I inject the bridge script. What you can do is register `onLoad` props with WebViewBridge and once that happens you call `myCustomFunctionToLaunchEachLoad`. I hate having `setTimeout` to run my script. It works but it just a hack.

[2016-02-06 21:18] MacKentoch commented on #25
@alinz Yes, you are right, it is not the most beautiful way to achieve it.

In fact, first time I used WebView (not talking about WebViewBridge) I had hard time with `onLoad` and `onError` props. It seemed to me like it never fired.
But I surely wrong (*I was unexperienced in that time in react-native*) since I did not have a try then.

I have to speed up and end my application *prototype* then I

[2016-02-10 14:11] stereodenis commented on #44
waiting for this feature

[2016-02-11 21:32] alinz commented on #44
Android support is added, please give it a shot and report more bugs. It is in beta right now. I need to clean up some code. It is not as stable as iOS version. I just wanted to let everyone know. I'm closing this ticket and please open separate issues if you find anything.

[2016-02-11 21:32] #44 closed

[2016-02-11 22:10] stereodenis commented on #44
@alinz thanks!
I will try it asap

[2016-02-15 14:29] stereodenis opened #51 "url and html props are depricated. Use source prop instead"
`Failed propType: Invalid prop 'source' supplied to 'WebView'`

[2016-02-15 14:48] alinz commented on #51
I'm waiting until version react-native 0.20 stable releases. Once that one is released I will update it for you. I think you can ignore that warning. For now don't use source.

[2016-02-15 15:55] stereodenis commented on #51
@alinz thanks!

[2016-02-17 15:36] bcalik opened #53 "Does not work in Android"
[code]

`import WebViewBridge from 'react-native-webview-bridge';`

![screenshot_20160217-173245](https://cloud.githubusercontent.com/assets/9222368/13114627/f65e2a72-d59c-11e5-8c86-ef7766047ae4.png)

[2016-02-17 15:45] alinz commented on #53
@bcalik thanks for reporting this. Android version is in beta and needs some love, I'm trying to find some free time. However, one thing you can do and test it for me is that try not to use `source` prop and instead use `url` for now. react-native 0.20 is releases so I'm planning to upgrade both iOS and android to this version. Let me know if that works for you.

[2016-02-17 15:52] bcalik commented on #53
@alinz: Thanks for the reply. But I already use `url` prop.
Looks like in v0.20 `url` prop automatically converted to `source`, or something like that?

I modified your `index.android.js`, and replaced every `url` with `source`, now it works.

[2016-02-17 16:29] bcalik commented on #53
Ok another issue is, in v0.20 injectedJavascript is actually not working for Android.
https://github.com/facebook/react-native/issues/5940

So I will downgrade the version for now.

[2016-02-17 16:41] alinz commented on #53
@bcalik I will try to work with @maraujop to get these thing iron out. be a little bit patient.

[2016-02-17 19:17] stereodenis commented on #51
@alinz 0.20 was released!

[2016-02-17 20:14] alinz commented on #51
@stereodenis thanks I'm aware of that! I'm trying to find some time to sit and clean everything.

[2016-02-17 22:18] #49 closed

[2016-02-18 03:42] alinz commented on #49
@naeemulhaque I was just wondering whether you manage to solve your problem.

[2016-02-20 15:52] burnsting opened #54 "webView keyboard without arrows and "Done" button?"
I know this is more React Native specific, but I figured a lot of people using the bridge would like to have this option.. Is there any way to disable the Arrows and 'Done' button above the keyboard in the webView?

I have a webView that loads a text editor that uses contentEditable text fields. But I have my own editor bar above the keyboard, and the safari bar above the keyboard makes it seem no

[2016-02-21 16:12] alinz commented on #54
It might be possible but, why would you load website inside webview?
what I mean is, let's say you are have already a website that is responsive. also you have wrote that one in either react or angular. now when you load that into webview, client needs to load css, all javascript to start showing to you the content and then you have to use some sort of bridge to tell the native side that ohh I'm d

[2016-02-21 17:28] MacKentoch commented on #53
I can't even launch android version :
[code]

My setup :
 - "react-native": "^0.20.0",
 - "react-native-webview-bridge": "^0.19.0",
 - I run my application on my Nexus 5x so I have `android 6.0.1`.

[2016-02-21 21:08] burnsting commented on #54
I know what you mean. As I said, it's just a text editor. My whole app is build in React Native. It's just the text editor, because the TextInput is extremely limited. I need to edit inline links, italic, paragraphs, enter to split, backspace to combine while keeping the cursor in place, fonts, colors, photos, videos and custom elements, etc, etc. And I can align it with the text editor build into

[2016-02-21 21:40] alinz commented on #54
@burnsting give me couple of days and I will get back to you! Your argument is also valid.

[2016-02-21 22:01] burnsting commented on #54
Thanks!

[2016-02-22 09:54] kemcake commented on #54
:+1: @burnsting I'm actually trying to achieve exactly the same thing, a rich text editor using a js library. Almost everything works fine, but this toolbar is really annoying :disappointed:

[2016-02-22 14:55] kemcake opened #57 "WebViewBridgeAndroid undefined"
This line doesn't seem to work (https://github.com/alinz/react-native-webview-bridge/blob/master/android/src/main/java/com/github/alinz/reactnativewebviewbridge/WebViewBridgeManager.java#L73). So I can't send message _from_ the webview.

Any idea ? Everything else works fine, I can send message _to_ the webview

[2016-02-23 09:37] burnsting commented on #54
Thanks for implementing this @kemcake !

[2016-02-23 16:10] kemcake commented on #57
Turns out that this is because I use a local file
If I take the Sample2 and instead of loading `google.com` I load a file from `file:///android_asset/view.html` I get a "WebViewBridgeAndroid is not defined"

Update:
This `view.html` works:
[code]

while this one does not work:
[code]

[2016-02-24 14:50] stereodenis commented on #53
I got white screen
"react-native": "^0.20.0"
"react-native-webview-bridge": "git+https://github.com/alinz/react-native-webview-bridge.git#859a2c4ee9c62203d51f9bc91857d24ddd806d0a"

[2016-02-24 15:53] alinz commented on #54
It's been merged. Thank you @kemcake.

[2016-02-24 15:53] #54 closed

[2016-02-24 18:30] alinz commented on #53
@bcalik, @MacKentoch and @stereodenis I got it to work on android there was a bug in script which causes this issue. I have also added a new example which works fine on both ios and android.

Please reopen this ticket if it happens again.

[2016-02-24 18:30] #53 closed

[2016-02-24 18:32] alinz commented on #57
@kemcake I have used the new react-native's implementation for replacing `html` and `url` with `source`. Can you try it again and close this ticket if it works on your side.

[2016-02-24 18:32] alinz commented on #51
@stereodenis it's been upgraded to new version of react-native. closing this ticket.

[2016-02-24 18:32] #51 closed

[2016-02-24 18:34] kemcake commented on #57
I tried with 0.20 and source props also and still experimenting the same thing :/

[2016-02-24 18:35] alinz commented on #46
@Elyx0 thank you for this link, however, the purpose of this library is to simply create a bridge between react-native and webview.

One way of solving this issue is using JWT token and pass the it to webview with this library.

[2016-02-24 18:35] #46 closed

[2016-02-24 18:37] alinz commented on #45
@TOP-Chao I have changed a couple of part of it, would you try it again with new version `0.20.0` and reopen this ticket if it happens again.

[2016-02-24 18:37] #45 closed

[2016-02-24 19:58] MacKentoch opened #58 "does not build on android (gradle error)"
I updated to `v0.20.0` but I'm afraid it does not change [#53](https://github.com/alinz/react-native-webview-bridge/issues/53#issuecomment-186863400).

**my updated setup :**

 - "react-native": "0.20.0"
 - "react-native-webview-bridge": "0.20.0"

**more info :**
1-  tested too in android studio and gradle was first still throwing this non sense (*it can be so many things*) error
    - `Configurat

[2016-02-24 21:29] alinz commented on #58
@MacKentoch thanks for detail info, can you go into examples/SampleRN20 try to run it on android by calling `npm install & react-native run-android`

[2016-02-25 04:29] MacKentoch commented on #58
@alinz Brilliant idea!

Really nice news :

I had a try with `examples/SampleRN20` and **it compiles and run nicely even on my device!** :+1:

I will check the differences between the example and my project.

Thank you so much for all, you rock!

[2016-02-25 05:56] YangYouYong opened #59 "React Native Access WebView Actions"
How can I access webview function in react native When I use your plugin?
In my webview when i tapped a button , it will calls a function named onClick , I want to response to this function in react native . so what code should i write in my script? Can you give me any suggestion? , I try to inject a JavaScript  like this
[code]

[2016-02-25 14:52] alinz commented on #58
@MacKentoch glad that it helps. Can you double check the android setup with what I have described in [README.md](https://github.com/alinz/react-native-webview-bridge/blob/v0.20.0/README.md#android-beta) file. if I missed something would you please correct it and send me a PR.

[2016-02-25 15:24] alinz commented on #59
@YangYouYong I do have an example with latest react-native that showcases the message passing between webview and react-native. Take a look at [this one](https://github.com/alinz/react-native-webview-bridge/blob/v0.20.0/examples/SampleRN20/app.js) and if you need more help let me know.

[2016-02-25 20:19] MacKentoch commented on #58
@alinz My issues came from `rnpm link`.

**I'm happy to finally close this *non issue*.**

If anyone has the same problem don't feel too much confident in `rnpm`.
Check
- `setting.gradle` (*in android directory*)
- be sure of : `new File(rootProject.projectDir, '../node_modules/react-native-webview-bridge/android'`
in :
[code]

My problem was I had : `new File(rootProject.projectDir, '../../node_m

[2016-02-25 20:19] #58 closed

[2016-02-25 22:07] alinz commented on #58
@MacKentoch Glad you solve it and thanks for the details.

[2016-02-26 04:41] Sean-Snow opened #60 "npm version is 0.19.1... : )"
npm version is 0.19.1...  : )  Upgrade to the 20

[2016-02-26 11:52] DanielKoehler opened #61 "Passing `require('<SomeLocalURI>')` to .source, results in “Error while updating property ‘source’ of a view managed by RCTWebViewBridge”."
The view loads correctly when passed `{uri : <URL>}`, but not when passed the result of a require() call. This latter method seems to work on the standard WebView component, is there a reason it mightn’t work with WebViewBridge?

[2016-02-26 12:51] alinz commented on #60
@Sean-Snow, The version is 0.20. checkout this https://www.npmjs.com/package/react-native-webview-bridge. I have double check.

[2016-02-26 12:51] #60 closed

[2016-02-26 14:27] stereodenis opened #62 "[Android] Cookies"
How to save cookies in android when I close my app?

in ios I make extension:
[code]

and then in AppDelegate.m I do

[code]

[2016-02-26 15:46] stereodenis commented on #62
react-native-webview-android implementation:
https://github.com/lucasferreira/react-native-webview-android/commit/fa3171b2cba240d8259d40906f58a1822173ee8d
https://github.com/lucasferreira/react-native-webview-android/commit/740fa8d5b847fbaca9545fe145eb144a0a096398
https://github.com/lucasferreira/react-native-webview-android/commit/c6b761514f8b9616f7a21ef414d71616a87f3ab7

[2016-02-26 22:50] gre opened #63 "Please add a podspec"

[2016-02-27 01:25] kadosh1000 opened #64 "stops working after first time"
Hi, I am using this component and I love it, but i noticed a very wired thing.
On the first time i go on a view that uses the bridge it works perfectly, but then after exploring the app and going into another view that uses the bridge it just won't work.

I use the bridge to open links in browser, while I'm on 'Debug with Chrome' mode it works perfectly, but when I'm not in debug mode it just star

[2016-02-27 11:56] agenthunt commented on #61
Comparing with latest [WebView js code](https://github.com/facebook/react-native/blob/master/Libraries/Components/WebView/WebView.ios.js#L301) , I believe it is missing
`source={resolveAssetSource(source)}`

[2016-02-27 16:28] alinz commented on #61
@agenthunt good catch! I will update it now.

[2016-02-27 17:03] agenthunt commented on #61
No problem. I created a PR related to that. If you are already fixing it , you can ignore this.

[2016-02-27 17:37] #61 closed

[2016-02-27 17:42] alinz commented on #61
@agenthunt thanks for PR request, I didn't notice that. however, I can revert my changes and apply yours. I have some comment on your side, take a look!

[2016-03-02 03:14] alinz commented on #64
@kadosh1000 there were couple of PR which I have merged. please try again and see if that fixes the problem.

[2016-03-02 03:15] alinz commented on #63
@gre would you like to send me a PR?

[2016-03-02 03:16] alinz commented on #62
@stereodenis it would be a really good PR if you can prepare one.

[2016-03-02 03:17] alinz commented on #35
Since this is an application related problem, I will close this ticket.

[2016-03-02 03:17] #35 closed

[2016-03-02 03:19] alinz commented on #16
closing this ticket. Since this is not going to be iOS releated problem and it needs to be supported on both iOS and android. Please create a new issue or give me a PR.

[2016-03-02 03:19] #16 closed

[2016-03-02 09:04] stereodenis commented on #62
@alinz, as I understand using domStorageEnabled with new react-native do the trick!

[2016-03-02 09:05] #62 closed

[2016-03-02 13:18] stereodenis opened #67 "source is not defined in 0.20.2"

[2016-03-02 14:10] alinz commented on #67
@stereodenis are you using react-native 0.20?

[2016-03-02 14:15] stereodenis commented on #67
@alinz 0.21.0

[2016-03-02 14:19] BilalBudhani commented on #67
I'm getting the same error on react-native `0.21.0`.

[2016-03-02 14:40] alinz commented on #67
@BilalBudhani can you double check the version you have install in `node_modules/react-native-webview-bridge`? I'm having a difficulties to publish a new version to npm.

[2016-03-02 14:43] BilalBudhani commented on #67
@alinz Even I was facing difficulty while installing the package from npm so, I directly pointed the package to master.
[code]
and the git hash is exactly same as last commit in master `cbfd8a2472e2244126a43fcd5398b812b69c763e`

[2016-03-02 14:48] BilalBudhani commented on #67
@alinz I think I've found the problem and resolved the issue. I'll send a PR with a fix.

[2016-03-02 18:30] bryanlarsen commented on #35
This is not an application error.   Even if react-native-webview-bridge is only designed to pass simple strings, being able to pass single quotes is absolutely required.   There are people with single quotes in their names (O'Leary for example).

Additionally, there is no good built in way to serialize such strings.

- JSON.stringify leaves single quotes untouched
- atob and btoa aren't available

[2016-03-02 22:36] alinz commented on #35
@bryanlarsen You can always come up with a new encoding. Such as a simple search and replace.

`O'Leary => O\/\Leary`

One more thing, You can escape `'` by adding `\` before it.

[code]

this is a valid string and can be parsed. So as I mention this is an application concern not library.

Thanks

[2016-03-03 01:56] YangYouYong commented on #59
@alinz help me  eg:`test.html`
[code]
How can i response to the function `clicked` in `test.html` ?

[2016-03-03 07:16] peng051410 commented on #67
I got this error too!

[2016-03-03 08:10] peng051410 opened #69 "[Android] injectScript not work!"
I write bellow code:

function webViewBridgeReady(cb) {
    if (window.WebViewBridge) {
      cb(window.WebViewBridge);
      return;
    }

    function handler() {
      document.removeEventListener('WebViewBridge', handler, false);
      cb(window.WebViewBridge);
    }
    document.addEventListener('WebViewBridge', handler, false);
  }

  function goDetail(id) {
       WebViewBridge.send("jump:

[2016-03-04 01:47] YangYouYong commented on #59
@alinz I resolve it by change my test.html like this :
[code]

[2016-03-05 15:52] #67 closed

[2016-03-05 15:56] alinz commented on #59
@YangYouYong, Nice. Since you have managed to solve your problem I'm closing this ticket.

[2016-03-05 15:56] #59 closed

[2016-03-05 15:58] alinz commented on #57
@kemcake can you try again. Unfortunatly I have a probelm with npm to publish new once. You should use direct link to this repo. Use `#v0.20.3` tag. Let me know how it goes.

[2016-03-07 07:37] Cordazar opened #70 "Push latest version to NPM."
Since the latest version fixed a bug that prevented actual usage it would be good if this version could be pushed to NPM.

Thanks for all the hard work!

[2016-03-07 08:03] kemcake commented on #57
@alinz, Actually @Bhullnatik fixed the main problem with #66. But now it only works for the first webview mount --> #64

[2016-03-07 08:03] #57 closed

[2016-03-07 19:55] alinz commented on #70
I have published the code. I had some issue with npm.

[2016-03-07 19:55] #70 closed

[2016-03-09 10:12] iinterest opened #71 "[Android] some Bugs"
1, Used webview-bridge, from A Webview to B Webview is OK, but from B to C, its report error message:

[code]

2, From B back to A, and then go to B again, `onBridgeMessage` function execute two times

And same code in iOS is OK,

code:

[code]

I hope you understand what I'm saying. -。-

[2016-03-10 13:59] bigali commented on #64
i have to same problem, please help

[2016-03-11 16:32] stereodenis opened #72 "custom initial background color"
by default it is white. I need it to be custom.

ps: maybe I will make a PR

[2016-03-15 07:40] kinhunt opened #73 "DecelerationRate not working"
DecelerationRate doesn't seem to be working with the latest version 0.20.3

[2016-03-16 20:52] #72 closed

[2016-03-16 20:54] stereodenis opened #74 "reload() not working when renderError"

[2016-03-18 01:44] yueshuaijie commented on #71
I encounter the same error.

[2016-03-18 08:47] YangYouYong commented on #69
@peng051410  you should change your html code

[2016-03-18 08:52] quentinzhang commented on #69
me either, the same code as iOS, but the injected code seems not work.

[2016-03-18 08:52] YangYouYong commented on #71
@iinterest can you use the plugin in Android ?  I inject the JavaScript code in the webview but nothing show in android

[2016-03-18 08:54] YangYouYong commented on #69
那你能在安卓上加载出来网页吗？

[2016-03-18 08:54] YangYouYong commented on #69
你注入的js代码没作用？ 能否QQ上讨论下呢？ 我的QQ413279774

[2016-03-18 08:59] YangYouYong commented on #69
@quentinzhang so can you load your page in Android?

[2016-03-18 09:01] YangYouYong commented on #69
I solve this in iOS  like #59

[2016-03-18 09:01] YangYouYong commented on #69
@peng051410 I solve this in iOS like #59

[2016-03-18 09:02] peng051410 commented on #69
@YangYouYong  已加你qq!

[2016-03-18 11:32] quentinzhang commented on #69
能加载出网页，只是注入的代码没有生效。已经在QQ上添加你了。

On Fri, Mar 18, 2016 at 4:54 PM, YangYouYong <notifications@github.com>
wrote:

[2016-03-19 21:32] bigali commented on #64
is there any update on this issue

[2016-03-21 16:13] stereodenis commented on #64
@alinz any thoughts?

[2016-03-21 18:58] stereodenis commented on #71
@alinz any thoughts?

[2016-03-21 20:15] stereodenis commented on #69
got the same issue

[2016-03-22 12:21] g6ling opened #76 "android not work injectedJavaScript."
ios.js and android.js are same source code.
but only android do not work.
<WebViewBridge
                    ref="webviewbridge"
                    onBridgeMessage={this.onBridgeMessage}
                    injectedJavaScript={'alert(1)'}
                    source={{uri: this.state.webViewUrl}}
                    />

In MainActivity.java
I wrote

@Override
    protected List<ReactPackage> getPa

[2016-03-24 11:16] Sean-Snow opened #77 "android The second load cannot be used"
android The second load cannot be used

[2016-03-24 12:15] #76 closed

[2016-03-31 07:15] epeli commented on #64
I'm seeing this too (Android).

[2016-04-04 09:51] g6ling commented on #77
I went through same problem. I copied & pasted README. But It is old.
See Example. In Example
injectedJavaScript is
[code]
and
[code]

I tried it then I could it everytime html is loaded.
Read https://github.com/alinz/react-native-webview-bridge/tree/master/examples

[2016-04-04 09:55] g6ling commented on #69
I think what write handler() is old. change injectedScript
(function () {
                    if (WebViewBridge) {

                      WebViewBridge.onMessage = function (message) {
                        if (message === "hello from react-native") {
                          WebViewBridge.send("got the message inside webview");
                        }
                      };

[2016-04-04 12:26] malinthe commented on #64
Facing the same issue.

[2016-04-04 12:26] malinthe commented on #77
@g6ling Could you explain how exactly you got this to work? I tried the example but there was no change.

[2016-04-04 13:46] bigali commented on #77
me too

[2016-04-09 19:26] dozoisch opened #80 "Sending a string that has a single quote in it breaks sendToBridge"
I managed to repro this with a very small string.

If you do

[code]

I get an from my webview error saying:  `{"error":"SyntaxError: Unexpected EOF"}`

I tried with a few other strings/objects (and stringifying them) with single quotes and it always error.

There is probably an inlining somewhere of the message string that is not escaped. I'm trying to find the exact cause.

on iOS, using version

[2016-04-11 16:10] magicismight commented on #71
any progress here?

when I mount WebviewBridge the second time.
it will throw `[INFO:CONSOLE(1)] "Uncaught ReferenceError: WebViewBridgeAndroid is not defined", source:  (1)`

[2016-04-12 04:05] foloinfo commented on #64
I'm facing same issue.
When I try to set `source` prop with user action (like `onPress` and change state with new url) it works fine, but when I try to initialize with `componentDidMount` or `constroctor`(or componentWillMount) or anything similar, it fails.
It keeps telling me `I/chromium: [INFO:CONSOLE(1)] "Uncaught ReferenceError: WebViewBridge is not defined", source:  (1)` .

Any ideas?

[2016-04-12 06:14] tanhuisky commented on #57
i have a same problem,is there any update

[2016-04-12 06:20] foloinfo commented on #64
I finally make it work consistently with `injectBridgeScript` after component is mounted.

[code]

In my case I'm using `constructor` to set url state got from android native module(url got from intent), passed state as source prop to WebViewBridge. (not shown above though)
If this issue relates to #57 then try adding `injectBridgeScript()` at some point might solve problem.
This method is called

[2016-04-12 06:23] foloinfo commented on #57
@tanhuisky I added a https://github.com/alinz/react-native-webview-bridge/issues/64#issuecomment-208726935 it might help.

[2016-04-12 06:38] tanhuisky commented on #57
@foloinfo thanks! but is does not work for me

[2016-04-12 06:51] magicismight commented on #71
send a [PR](https://github.com/alinz/react-native-webview-bridge/pull/81) to fix this.
Hope get it merged.

[2016-04-13 08:24] g6ling commented on #77
This code
[code]
and
[code]

I could work.
Did you add Package in MainActivity.java?

[2016-04-14 06:19] overminder commented on #80
Seems to be caused by [this](https://github.com/alinz/react-native-webview-bridge/blob/f116c8d/ios/RCTWebViewBridge.m#L96).

Need to find a way to properly convert a NSString into an escaped JS string literal.

[2016-04-14 17:29] malinthe commented on #77
@g6ling Tried but it still only works on the first load. Package is added. I tried the given example as well.

[2016-04-14 17:37] malinthe commented on #64
@foloinfo Tried what you mentioned but didn't experience any changes in the behavior.

[2016-04-15 01:44] foloinfo commented on #64
@malinthe Did you try with [latest example](https://github.com/alinz/react-native-webview-bridge/blob/master/examples/SampleRN20/app.js)?
If so I don't know what's happening...

[2016-04-18 13:39] stereodenis commented on #77
is this PR about this issue?
https://github.com/alinz/react-native-webview-bridge/pull/81

[2016-04-19 02:47] fungilation opened #82 "Broken in RN 0.24"
RCTWebViewBridgeManager.NavigationType is not an object. Broken since update to React Native 0.24.0.

Redbox:
![screenshot 2016-04-18 19 44 43](https://cloud.githubusercontent.com/assets/3803466/14626187/4be42eca-059e-11e6-81ff-f96e458ea662.png)

[2016-04-19 02:59] fungilation commented on #82
False alarm, needed ```rnpm link``` after RN update.

[2016-04-19 02:59] #82 closed

[2016-04-29 12:45] misherone opened #84 "Access/communication to exsisting WebView"
Can I somehow communicate to exsiting javascript interface (e.g. "bridge") attached to the WebView from React app? I have working android and iOS projects with WebView and my custom JS interface with huge functionaluty that i want to reuse. There is no way I can reimplement it as extension for React (especially foe iOS). The problem is that React App is not in WebView, and for React it is better t

[2016-05-03 19:42] alsh76 opened #85 "[Android] multiple instances of WebViewBridge"
When I place two different  instances of WebViewBridge (with different refs) on one page the bridge is connected twice to the first page. For IOS everything works good

[2016-05-05 08:37] coolguy001tv opened #86 "Readme for android needs to be updated"
In the step

Actually in at lease rn 0.23.1, there's only one row needs to be inserted:

[2016-05-06 01:11] coolguy001tv commented on #77
God , in my project, I need to manually set `javaScriptEnabled={true}` ,where code is like this:
[code]
Then it's ok...

[2016-05-11 12:56] g6ling commented on #86
changed

[2016-05-12 02:48] rayshen opened #88 "how can I set the user-agent for the webviewBridge"

[2016-05-12 18:47] stereodenis opened #89 "[iOS] autoplay not working"
Autoplay for inline videos not working for iOS, but works for Android and in original WebView.
link with sample video: http://codepen.io/stereodenis/pen/RaObOv

[2016-05-13 07:25] stereodenis commented on #89
@alinz any thoughts?

[2016-05-13 08:10] stereodenis commented on #89
@alinz make a PR for that

[2016-05-14 03:30] robinv8 opened #91 "android 4.4 ,No response"

[2016-05-15 13:09] MacKentoch commented on #69
I experienced something interesting.

*My script works on iOS but applying it to android did not work.*

- `first` as @g6ling suggested watch [example](https://github.com/alinz/react-native-webview-bridge/blob/master/examples/SampleRN20/app.js#L17)
- `second` —*that is what is interesting*— **erase all javascript comments in your scripts!!!**
  - it broke my script on android!!! It was why it did

[2016-05-19 22:34] juankiz commented on #88
Hey @rayshen I think the easiest way to do it was writing Objective-C, something like this might do the trick:

[code]

[2016-05-23 17:59] g6ling opened #92 "publish new version in npm"
npm version's do not support reactnative@0.26

But github supported. I want that you publish new version

[2016-05-24 08:57] cauchycai commented on #88
@juankiz But how to do it on Android? I found userAgent prop does not work in WebviewBridge while it works in the original WebView.

[2016-05-24 10:37] eremzeit commented on #69
I also am unable to inject JS on android.  If I change the type to plain old WebView with all the same props then it works.

[2016-05-24 12:26] ollieayre-oc opened #93 "[Android] onLoad function is triggered multiple times before the webview has finished loading"
This is fine on ios but on android the function is called multiple times well before the page has actually finished loading. I've compared this behaviour with the standard react-native webview component and there the function is only triggered once after the page has finished loading.

Any help on this would be much appreciated
Thanks

[2016-05-25 00:58] cauchycai commented on #88
I finally fixed my problem by using the master branch of react-native-webview-bridge and setting User-Agent by passing "userAgent" prop to WebViewBridge

[2016-05-25 01:42] cauchycai commented on #93
I met the same issue!

[2016-05-25 05:12] gn02394847 opened #94 "java.lang.NoSuchMethodError"
OPPO Find 7a X9006
Android 4.3

java.lang.NoSuchMethodError: android.webkit.WebView.evaluateJavascript
	at com.github.alinz.reactnativewebviewbridge.WebViewBridgeManager.injectBridgeScript(WebViewBridgeManager.java:67)
	at com.github.alinz.reactnativewebviewbridge.WebViewBridgeManager.receiveCommand(WebViewBridgeManager.java:38)
	at com.github.alinz.reactnativewebviewbridge.WebViewBridgeManager.re

[2016-05-25 11:02] gn02394847 commented on #94
https://github.com/evgenyneu/js-evaluator-for-android

[2016-05-25 14:13] olix21 opened #95 "Unhandled JS Exception: undefined is not an object (evaluating 'PropTypes.func')"
Hello,

We are making a react native project with you're awesome webview bridge.
We just upgrade to react native 0.26.1 and react 15.0.2 this morning and we have now this PropTypes issue.

Is it possible that certain pieces of your code are depreciated?

[2016-05-26 12:24] HADB commented on #69
I came up with the same problem.  The code works on iOS buy didn't work on Android even the simplest code as MacKentoch's.

[2016-05-26 16:02] dfejgelis commented on #93
Me too

[2016-05-28 21:09] KeinborgMichael commented on #95
use files from git , not from npm

[2016-05-31 21:53] jbail commented on #64
@foloinfo I tried your fix, but it doesn't work for me either. The WebViewBridge only works the first time. Once the WebViewBridge gets "refreshed" (go back and forward in navigation...change the source HTML...etc) it no longer sends or receives messages. I see this in the console:

I/chromium(18165): [INFO:CONSOLE(1)] "Uncaught ReferenceError: WebViewBridge is not defined"

[2016-06-01 12:59] thedjinn opened #98 "[iOS] Crash when calling alert from injectedJavaScript"
I have a project using a WebViewBridge. In this WebViewBridge I wanted to do some debugging, but it turns out that adding a call to `alert` to show a popup causes crashes the WebViewBridge at random locations. Using the debugger I saw that `_webView` and other properties are somehow reset to `nil` somehow, thus causing unexpected behaviour. The crash only happens if I add alerts to the code given

[2016-06-01 23:57] jalbrecht commented on #85
Same issue (react-native 0.27.0) on Android

[2016-06-02 01:38] foloinfo commented on #64
@jbail I'm currently running WebViewBridge with this pull-request:  [fix Uncaught ReferenceError: WebViewBridgeAndroid is not defined by magicismight · Pull Request #81 · alinz/react-native-webview-bridge](https://github.com/alinz/react-native-webview-bridge/pull/81) with RN 0.22.2 and it works fine, but I'm not sure if RN version matters.
I also had a trouble with using js comments ( `//` ) in in

[2016-06-02 21:54] JakeRawr opened #99 "upgrade to be compatible with RN v0.25+"
<img width="776" alt="screen shot 2016-06-02 at 2 52 24 pm" src="https://cloud.githubusercontent.com/assets/7199499/15762279/bbb63b52-28d1-11e6-8368-6a48357fe53a.png">

Unable to see PropTypes
<img width="279" alt="screen shot 2016-06-02 at 2 53 28 pm" src="https://cloud.githubusercontent.com/assets/7199499/15762292/d094e884-28d1-11e6-9694-32e784a8627b.png">

[2016-06-02 21:55] JakeRawr commented on #99
Nvm, I saw that the master branch already did the upgrade. It'd be nice if npm is also updated. Thanks

[2016-06-03 15:45] jbail commented on #64
@foloinfo - Thank you! Pull request #81 did the trick! I no longer get the "WebViewBridge is not defined" issue and this now works as expected

[2016-06-05 00:37] allthetime opened #100 "question about message size"
Hi, I want to use the bridge to manipulate a canvas and send image data back and forth. I imagine I will have to encode/decode a base64 string to do this, I'm just curious if this is currently feasible, or if I will run into issues with the size of the message being sent.

Thank you!

[2016-06-05 01:42] HADB commented on #99
+1

[2016-06-05 05:50] g6ling commented on #99
you can use `npm i github_url`
exmaple `npm i https://github.com/alinz/react-native-webview-bridge`
If you installed with `npm i react-native-webview-bridge`, it is old-version.

[2016-06-05 05:50] g6ling commented on #95
use `npm i https://github.com/alinz/react-native-webview-bridge`

[2016-06-06 20:29] fungilation commented on #99
Secondning @JakeRawr on updating on npm so this doesn't break in RN 0.26+.

[2016-06-07 08:20] olix21 commented on #95
I close this issue, related to [#92](https://github.com/alinz/react-native-webview-bridge/issues/92)

[2016-06-08 09:25] shaikhussian opened #101 "app crashes in android"
i am using image picker module and i am trying to use react-native-webview-bridge also, in settings.gradle i wrote like this
`include ':app',':react-native-image-picker',':react-native-webview-bridge'`
`project(':react-native-image-picker').projectDir = new File(settingsDir, '../node_modules/react-native-image-picker/android')`
`project(':react-native-webview-bridge').projectDir = new File(rootPro

[2016-06-14 06:45] MacKentoch commented on #91
@tranren @alinz as far as I know (*tested on real devices*) it seems like it works only for `android >= 5.0` (`SDK 21`).

I "guess" (strongly suppose) it is not due to webview bridge but android SDK.
Sorry I can't investigate more since I'm not an android dev.

**So I set my app manifest:**
[code]

If anyone else could give feedback on android version?

[2016-06-16 07:03] ljspace opened #104 "[ios] source uri use ip or with port not receive message"
[ios] source uri adress use ip 'http://192.168.11.11:3001/www/index.html' or 'http://www.xxx.com:3001/www/index.html'
injectedJavaScript `WebViewBridge.send('hello');`
'react-native' `onBridgeMessage` callback not receive message

[2016-06-20 10:26] goldenice opened #105 "[Android] WebviewBridgeManager assumes only one instance of WebView"
As per my understanding of ViewManagers, ViewManagers need to be able to operate on multiple View instances. Currently, there is a boolean that says whether the bridge JS was injected or not for the whole ViewManager, which means that every WebView other than the first won't get the JS injected. The simple fix for this would be to refactor that boolean `initializedBridge` into a `Map<WebView, Bool

[2016-06-20 11:13] goldenice commented on #105
This will be fixed when my PR #106 is merged :)

[2016-06-21 13:40] ruqqq commented on #105
+1 for PR to be merged. Tested to be working fine. Great job @goldenice.

[2016-06-22 09:01] Rice-M opened #107 "npm unpublish"
hi  when I install with npm  I got old the code ,but version is 0.20.3.

[2016-06-23 15:06] shackachaska opened #108 "undefined is not an object"
Hello,

I'm started a project with react-native. But I have a probleme with RTCWebView BridgeManager.NavigationType. He write that "undefined is not an object (evaluating'RCTWebViewBridgeManager.Navigation.Type

I uprgrape the webview-bridge. But I have already same message.

I'm in version react native 0.26.3

[2016-06-23 16:27] alinz opened #109 "Moving the webview brigde to React-Native Core"
Hello guys,

I have decided that, it is time to move this project into core. one of the problem with maintaining this project is not be able to extend the native class and as a result I have to copy and paste the entire source code of WebView implementation of react-native. This makes it very difficult. So what I'm asking is goto this [link](https://productpains.com/post/react-native/bridge-for-we

[2016-06-23 18:54] stereodenis commented on #109
@alinz it is good idea! But could you check PRs?)

[2016-06-23 19:47] goldenice commented on #109
This should be a core functionality for sure, but perhaps a more high level approach (e.g. executing arbitrary JS in the webview) would be useful. I'm not sure how that would work on iOS, but I do know that would be easy to implement on Android. Writing your own bridging implementation (at least RN to webview) would be trivial if that kind of communication is possible

[2016-06-23 21:00] alinz commented on #109
@goldenice RN's WebView has already implemented run arbitrary JS. what I want to add is the reverse one. WebVIew send a message back to RN. If you look into the implementation of WebView, you will see most of the important classes are inlined and because of that you can't extend it. That's what I want to do in core.

[2016-06-24 07:57] stereodenis commented on #109
@alinz https://github.com/alinz/react-native-webview-bridge/pull/90

[2016-06-24 16:43] fungilation commented on #99
@alinz, I know you are busy and working on getting this whole bridge into RN core. But we are kinda hanging out here, can't upgrade RN while fixes are already in PRs. If you can take a look and merge them that would be great?

[2016-06-24 16:44] fungilation commented on #109
You have my vote. But approve pending PRs pretty please

[2016-06-27 14:01] avishayil opened #110 "Activity indicator not working properly after loading one article"
Using this library, I tried to deep-link in my app from one article to another. I used the renderLoading method of the webview and it works on the first link, but when pressing on the other article, which links to the same component which includes the webview with other URL, it start with a blank page, sometimes without showing the activity indicator at all.
[code]
I tried to move all the scripts

[2016-06-28 11:40] someok opened #111 "Current version not support RN 0.28"
import  should change to:

[code]

[2016-06-29 07:46] Naoto-Ida opened #112 "Send message from webview's page to the app"
Is there a way to send data from the HTML to the page when the user taps on a button or something in the webview?

What I'm looking for is basically the equivalent of this library that I can embed in the webpage which would send a value to the app on its terms, not page load.

[2016-06-29 07:53] Naoto-Ida commented on #109
+1

[2016-06-29 08:11] Naoto-Ida commented on #112
Closing this as I solved it.

On the web page side, I setup a condition as such:

[code]

This way, if the user isn't accessing this page from the `WebView`,
they won't have errors in the console log.

This works pretty great. Hopefully it'll be useful to someone.

[2016-06-29 08:11] #112 closed

[2016-07-01 03:29] walter0331 opened #113 "Error: ReactNative.createClass"
Im facing this issue, what am I doing  wrong?

I did all 8 step on IOS + `rnpm link`

but this is the error message I get when I try to import `react-native-webview-bridge`

[code]

<img width="284" alt="2016-07-01 11 19 36" src="https://cloud.githubusercontent.com/assets/1284568/16511005/20c0946c-3f7e-11e6-8fee-e45bbf9c6575.png">

### dependencies
`react-native@0.28.0`
`react-native-webview-bridg

[2016-07-01 14:34] joshualcoffee commented on #113
You are importing `React` but trying to use `ReactNative`.  Instead of `ReactNative.createClass` do `React.createClass`.

[2016-07-01 20:07] Hamiltontx commented on #109
+1

[2016-07-01 23:55] JakeRawr commented on #113
Looks like npm package is not in-sync with the master branch.

Go to your node_modules > react-native-webview-bridge > webview-bridge

and replace index.ios.js & index.android.js with the master branch version.

hope this helps

[2016-07-02 12:39] walter0331 commented on #113
@JakeRawr thx for the workaround 👍

[2016-07-04 10:35] bbay commented on #109
+1

[2016-07-05 17:09] JakeRawr opened #114 "Enlarged after refresh on iOS simulator"
## On first launch when ```react-native run-ios```
<img width="280" alt="screen shot 2016-07-05 at 10 02 54 am" src="https://cloud.githubusercontent.com/assets/7199499/16592964/0c605788-4298-11e6-8041-442106331233.png">
<Br>
<Br>
## then ```cmd+R``` to refresh the simulator
<img width="282" alt="screen shot 2016-07-05 at 10 03 04 am" src="https://cloud.githubusercontent.com/assets/7199499/16592977

[2016-07-06 17:33] KishPatel1996 opened #115 "Freezing on simulator during startup"
After following the instructions on the README, the app I am building consistently freezes on startup, leaving a blank screen with a loading from xxxxxxx toast on top.

Any suggestions on what may be causing the issue?

[2016-07-06 17:51] KishPatel1996 commented on #115
Solved by completely removing the app from the simulator and running `react-native run-ios`

[2016-07-06 17:51] #115 closed

[2016-07-07 00:02] tslater commented on #109
Is there a PR for the react-native core?

[2016-07-07 00:59] alinz commented on #109
working on it. should be send to them by couple of days.

[2016-07-07 06:38] toxicity1985 commented on #105
+1 Tested and Working fine !

[2016-07-12 05:24] ChinaGoodProgrammer opened #117 "undefined is not object (evaluating) 'UIManager.RCTWebViewBridge.Commands')"
Run on the android  error！Why？

[2016-07-12 05:38] ChinaGoodProgrammer commented on #108
me too！How about you now?

[2016-07-12 05:38] ChinaGoodProgrammer commented on #108
@shackachaska

[2016-07-12 14:10] huangciyin commented on #109
+1

[2016-07-13 07:38] ChinaGoodProgrammer commented on #117
In react-native-0.29
Android：
Create a new file `MainApplication.java` in the same folder as `MainActivity.java`!
Module should be registered in MainApplication.java!
I has solved！

[2016-07-13 22:20] JakeRawr commented on #114
Found my problem, it has nothing to do with react-native-webview-bridge

`<meta name="viewport" content="width=320, user-scalable=no">` was giving me the problem.

[2016-07-13 22:20] #114 closed

[2016-07-14 09:36] someok commented on #113
Why not update the new version to npm?

[2016-07-14 16:12] saulshanabrook commented on #111
Anyone know of a fork that supports 0.28?

[2016-07-14 18:26] saulshanabrook commented on #117
I think this is solved by #118

[2016-07-14 19:00] fungilation commented on #108
Same here. I'm on RN 0.29.1, and I ```npm install https://github.com/alinz/react-native-webview-bridge``` already as there are fixes still not pushed to npm.

@alinz?

[2016-07-14 19:02] fungilation commented on #117
No it can't, this is on iOS, not android.

[2016-07-14 19:04] fungilation commented on #117
related to #108 on iOS?

[2016-07-14 19:06] fungilation commented on #111
Or 0.29. Hitting #108

[2016-07-14 19:59] ippy04 commented on #111
I'm using this line in my package.json to work with 0.29

"react-native-webview-bridge": "alinz/react-native-webview-bridge#d06e80dae2c09006"

[2016-07-14 20:10] saulshanabrook commented on #111
@ippy04 Do you have that working with android?

[2016-07-14 20:14] ippy04 commented on #111
My project is iOS only unfortunately...

[2016-07-14 20:18] saulshanabrook commented on #111
Ah ok, I can't get it to work with 0.29 and android.

[2016-07-14 20:23] alinz commented on #109
Since I'm still behind and react-native 30 is just around the corner, I will delay this and release the new version of app this weekend. Extremely busy with other stuff but I will find a time this weekend and make it available for you guys.

[2016-07-14 20:28] saulshanabrook commented on #111
@alinz Great news! Thank you so much for all your hard work. I almost have [`window.crypto` working on top of this library](https://github.com/saulshanabrook/react-native-webview-crypto).

[2016-07-15 07:00] CaoLiang1991 commented on #109
+1

[2016-07-15 07:02] starlight36 commented on #109
+1

[2016-07-16 02:13] andreibarabas opened #119 "WebViewBridge is not available after redirect"
Hi,

There is a big issue that is holding us back from using Webview Bridge, and that is the fact that the javascript WebViewBridge is not injected in redirect pages.

Usecase: On a credit card page, (web) the user enters his data and then he is redirected to our page that uses WebViewBridge to send the updated profile info to react native.

If we enter the 2nds page URL directly in the WebViewBri

[2016-07-18 11:44] stereodenis commented on #109
@alinz we're waiting))

[2016-07-18 15:00] imlooke commented on #109
+1

[2016-07-18 18:54] benlinton commented on #109
+1

[2016-07-19 11:55] derdav3 commented on #109
+1

[2016-07-19 15:30] HectorFL commented on #109
+1

[2016-07-19 20:35] hadynz opened #120 "Access to keyboardDisplayRequiresUserAction"
I am trying to set initial focus on an input text field that is loaded in a HTML page that is rendered inside my react native webview.

It seems that a prerequisite for this to be done is to set [keyboardDisplayRequiresUserAction][1] to `false` on the webview.

Given this is not supported as of yet by either react native's webview or webview-bridge, wondering if there is a workaround for direct ac

[2016-07-21 18:15] dfejgelis commented on #109
RN 0.30 is here :)

[2016-07-21 18:28] fungilation commented on #109
Is it including the bridge integrated?
On Thu, Jul 21, 2016 at 11:15 AM Diego Fejgelis <notifications@github.com>
wrote:

[2016-07-22 06:51] derdav3 commented on #109
doesnt seem like it...? -> [release notes](https://github.com/facebook/react-native/releases/tag/v0.30.0)

[2016-07-26 05:51] chinachuner opened #121 "can not use in React Native@0.28.0"
can not found NativeModules: {
    WebViewBridgeManager
  } in RN

[2016-07-26 05:57] #121 closed

[2016-07-26 11:50] yedidyak opened #122 "Publish to npm?"
Until this is included in core, and until people move to the latest version of RN, can you publish a new version so we can use the latest changes?

[2016-07-26 16:47] pawellewandowski opened #123 "Empty view"
Hello,
I have some problem with react native bridge on RN 0.30. Container with webview is empty on android but on IOS work fine.

![2016-07-26 16 45 13](https://cloud.githubusercontent.com/assets/3199040/17147061/3b5e6e9c-5361-11e6-84d4-f6144e0a3519.png)

`<WebViewBridge
            ref="webviewbridge"
            onBridgeMessage={this.onBridgeMessage.bind(this)}
            injectedJavaScript={in

[2016-07-26 17:19] #123 closed

[2016-07-27 00:10] ivanakimov commented on #109
+1

[2016-07-27 18:47] ivanakimov commented on #122
+1

[2016-07-28 15:39] tallen11 commented on #122
+1

[2016-07-28 22:38] jzimmek commented on #109
+1

[2016-07-30 21:16] mCzolko commented on #113
+1

[2016-07-30 21:21] mCzolko commented on #122
+1

[2016-07-31 06:24] yedidyak commented on #122
I published the latest code to react-native-webview-bridge-updated@0.01

[2016-08-02 03:45] cbcye commented on #109
+1 for this feature

[2016-08-02 03:48] 289420843 opened #127 "After the release build cannot display HTML"
Normal operation of the debug mode

[2016-08-02 03:52] 289420843 commented on #127
Android platform

[2016-08-02 05:26] kinergy commented on #109
+1

[2016-08-05 11:35] Roman-K93 commented on #109
+1

[2016-08-05 17:17] JakeRawr opened #128 "Not compatible with RN v0.31"
Not compatible with RN v0.31

[2016-08-05 17:26] ivanakimov commented on #128
Yep.

[code]

[2016-08-05 18:14] JakeRawr commented on #128
added fix, it's in PR now
https://github.com/alinz/react-native-webview-bridge/pull/129

[2016-08-05 21:15] fungilation commented on #128
Thanks for the quick fix! Please merge

[2016-08-07 09:50] avishayil commented on #109
+1

[2016-08-07 12:40] berkaey commented on #127
+1

[2016-08-07 12:43] berkaey commented on #127
iOS is same.

[2016-08-07 23:37] nycoliver commented on #113
+1

[2016-08-10 12:05] Fasani commented on #109
+1

[2016-08-10 13:04] anhuin69 commented on #109
+1

[2016-08-10 13:14] daikini commented on #109
+1

[2016-08-10 16:46] rbmedia commented on #109
+1

[2016-08-10 20:32] StevenOspina opened #130 "Android RN v0.30 displays blank view. Same code works on iOS."
I am getting a blank webview on Android; nothing displays, just a red border for some reason.

If I replace with React Native's WebView, the web page does display on Android. Working great on iOS.

[2016-08-11 17:33] StevenOspina commented on #130
This was resolved by following the updated instructions here: https://github.com/alinz/react-native-webview-bridge/pull/118

[2016-08-11 17:33] #130 closed

[2016-08-12 06:55] uc-des opened #132 "It does not support RN 30"
https://cloud.githubusercontent.com/assets/9525005/17614896/b172bc72-6087-11e6-9f7d-6cb1f68ef85c.png

[2016-08-12 07:26] mingkang1993 opened #133 "react native 0.31 cannot read property 'NavigationType' of undefined"
react native 0.31 cannot read property 'NavigationType' of undefined

[2016-08-12 07:56] mingkang1993 commented on #133
help

[2016-08-12 08:11] alierdogan7 commented on #132
I think this is because of wrong import statements in the package.
See: http://stackoverflow.com/questions/37052798/reactnative-createclass-is-deprecated-use-react-createclass-from-react-package

The package should be updated for React Native > 0.25.0

[2016-08-12 08:48] uc-des commented on #132
Hello alierdogan7

I have updated these two files (index.android.js and index.ios.js) as per the RN 25, but still getting this issue

[2016-08-12 08:53] mingkang1993 commented on #133
![50473d3b-f2f2-4346-a136-7f064153e522](https://cloud.githubusercontent.com/assets/9126292/17617519/39c87ed4-60ad-11e6-8581-d10ed3fe2985.png)

[2016-08-12 09:19] alierdogan7 commented on #132
Perhaps it's not only about import statements I think it has some other problems since it's not compatible with RN 0.30.0

https://github.com/alinz/react-native-webview-bridge/issues/109

Here the owner of the repo says that he'll release an update to keep up with new version, however there isn't any update yet.

[2016-08-12 09:22] uc-des commented on #132
Okay Thanks

[2016-08-12 10:17] musicode commented on #109
does it finished?

[2016-08-12 13:31] error-bruno opened #134 "Xcode archive resulting in error"
This issue just started happening this morning, but when I would go to archive my project, I'm getting a `File/Program node, we can't possibly find a statement parent to this`.

I think it has something to do with Babel, but I thought I would throw it out there to see if anyone else has had the same issue. Full stack trace below:

[code]

[2016-08-12 14:41] saulshanabrook commented on #109
@musicode The core team haven't weighed in on whether they want this in React and there has been no public progress on integrating the code.

[2016-08-15 08:28] cbcye commented on #128
Great! Thank you

[2016-08-15 08:34] cbcye opened #135 "import WebViewBridge error"
When i use import WebViewBridge from 'react-native-webview-bridge'; to import WebViewBridge the the error like below, My RN version is 0.31

ReactNative.createClass' from the 'react-native' package. Perhaps you meant to access 'React.createClass' from the 'react' package instead?

For example, instead of:

  import React, { Component, View } from 'react-native';

You should now do:

  import React

[2016-08-15 08:49] ximenxiafeng commented on #135
我也遇到了同样的情况，有解决方案吗

[2016-08-15 09:17] cbcye opened #136 "is it support WKWebView in IOS"
we know WKWebView has high performance then UIWebView in IOS platform, is it support WKWebView?

[2016-08-15 13:57] cbcye commented on #135
如果是编译问题，我解决了：https://github.com/cbcye/react-native-webview-bridge ， 但是我实际上也没有跑起来，没有效果。后面删除了没用了。

[2016-08-15 14:05] alinz commented on #135
@cbcye, @ximenxiafeng in order for me to see the tickets and issues, I need to undrestand them. would you guys please ask your questions in english. Thank you!

[2016-08-16 01:02] cbcye commented on #135
Sorry! the latest news about this topic is , i have fix the build error and fork in my repo : https://github.com/cbcye/react-native-webview-bridge , but in the end it still can not work,  I follow the sample then use this component with WebView it can not work, not any message and error message. I don't know why.  give it up in the end.

[2016-08-16 01:02] #135 closed

[2016-08-16 06:17] FanYeeChok opened #137 "npm ERR! peerinvalid Peer react-native-android-tablayout@0.3.0 wants react-native@0.28"
Using react native version 0.30 and install:
`npm install react-native-webview-bridge`

Here is the error

[2016-08-16 21:44] juankiz commented on #109
Hey @alinz have you found time to work on the pull request? If you need more hands let us know, I'd be glad to help if needed :)

[2016-08-17 09:44] cbcye opened #139 "react2.default.findNodeHandle is not a function"
![image](https://cloud.githubusercontent.com/assets/869074/17731938/2c836efc-64a2-11e6-9aeb-297185d9bdd2.png)

[2016-08-17 09:51] cbcye commented on #139
I fixed this, following this page :https://github.com/cbcye/react-native-webview-bridge/blob/master/webview-bridge/index.ios.js

[2016-08-17 09:51] #139 closed

[2016-08-18 07:46] avishayil commented on #109
@alinz Are you following here mate?

[2016-08-19 01:36] ivanakimov commented on #127
Does this mean the site is not showing in WebView for both platforms?

[2016-08-21 11:11] MacKentoch commented on #111
@alinz any news on the upcoming update?

I guess some PR would be also nice in the next version to support latest React Native versions.

If you need help tell us. You bridge is so helpful.

[2016-08-22 13:12] cbcye opened #140 "is it support call RN js function from webview inside"
is it support call js function from webview inside? I only find it can call js from RN to webview, if can call RN js function from webview inside is prefer.

[2016-08-22 14:26] alidawud commented on #109
Hi Mr. @alinz any good news?

[2016-08-22 21:19] ivanakimov opened #141 "Abandoned?"
@alinz Would be nice to know if you're just busy, or if you're done maintaining this -- for the sake of knowing whether we should invest time building on top of this.

[2016-08-23 08:18] mvpdream opened #142 "Cannot run on IOS"
![5443782a-f1c4-43fb-a71c-96f3fc2787d1](https://cloud.githubusercontent.com/assets/16203724/17884872/224eac30-694d-11e6-8d1e-dd3bd3671c42.png)

[2016-08-24 19:26] jqn commented on #141
@alinz I second @ivanakimov.

[2016-08-24 20:20] alinz commented on #141
@ivanakimov very busy at the moment, I have done some major refactor but it's not nearly ready for production. My plan was to put it into the core but things keep coming up. Please bear with me or fork it for now until I finish all my stuff.

[2016-08-24 20:22] ivanakimov commented on #141
@alinz Fair enough. Bearing in progress ;)

[2016-08-24 20:26] MacKentoch commented on #109
Some news here [#141](https://github.com/alinz/react-native-webview-bridge/issues/141)

[2016-08-24 22:38] jqn commented on #142
Same problem here

[2016-08-25 12:57] santong commented on #142
same problem

[2016-08-25 14:20] dangnelson commented on #142
This pull request appears to fix the issue: https://github.com/alinz/react-native-webview-bridge/pull/129/files

[2016-08-25 14:45] dangnelson commented on #142
But now I'm getting this error: https://github.com/alinz/react-native-webview-bridge/issues/135

[2016-08-25 18:09] dangnelson commented on #132
Just want to confirm the last version this works on is the April 18th release RN 0.24.0?

[2016-08-26 06:09] CaoLiang1991 commented on #105
it is wrong,see my PR  #124,the Map should be a WeakHashMap.

private Map<WebView, Boolean> initializedBridgeMap = new WeakHashMap<>();

[2016-08-26 06:14] CaoLiang1991 commented on #85
See my PR #124.

[2016-08-26 06:17] CaoLiang1991 commented on #93
See my PR #124

[2016-08-26 08:41] starlight36 commented on #105
Hi~ I agree with @CaoLiang1991 's opinion. Use strong reference `HashMap` is dangers here. Because `initializedBridges`'s lifecycle belongs to the `ReactContext`. That means every WebView object can't be destroyed until the `ReactContext` released. Use `WeakHashMap` instead is a good choice to avoid this risk.

[2016-08-26 10:16] goldenice commented on #105
Absolutely, valid point, I have to admit that I didn't think that one through! Thanks for spotting that one @CaoLiang1991 and @starlight36 ! 👍

[2016-08-26 12:11] CaoLiang1991 commented on #105
@goldenice  no thanks

[2016-08-27 15:25] fanliming commented on #135
npm versin is old.

I fix this issuse with

` npm install -save git+https://github.com/alinz/react-native-webview-bridge.git`

[2016-08-27 15:27] fanliming commented on #142
@dangnelson  did you fix #135 problem ? I add a feedback under the issue

[2016-08-29 00:39] dangnelson commented on #142
Nope, I just reverted to RN 0.24.0 for now.

[2016-08-30 06:09] amrdraz commented on #141
Is there an estimate for the baring time ^^;

[2016-08-30 14:15] saulshanabrook commented on #111
FYI I got the Web Cryptography API working using this library https://github.com/saulshanabrook/react-native-webview-crypto

[2016-09-03 12:27] walter0331 commented on #120
+1

[2016-09-06 01:04] onehon commented on #113
+1

[2016-09-06 07:56] ollieayre-oc commented on #93
@CaoLiang1991 I've tried your PR and it still doesn't seem to fix the issue i originally highlighted so i think this is related to something different.

[2016-09-06 21:02] mibi-b commented on #142
I fixed compile issue by adding to RCTWebViewBridge.m

`#import <objc/runtime.h>`

after the other imports.

[code]

[2016-09-07 08:48] arnavyagnik commented on #130
Hey , got the same issue in RN 0.30 and did what the PR suggests but still on the blank screen , can you help me out please.

[2016-09-07 13:54] suibobuzhuliu commented on #113
@JakeRawr it works on me.👍

[2016-09-07 21:37] StevenOspina commented on #130
@arnavyagnik I think this was the most confusing part, so make sure you are updating MainApplication.java and NOT MainActivity.java. Also, the function getPackages() already exists, so you simply add new WebViewBridgePackage().
Before:
[code]
After:
[code]

[2016-09-08 05:45] arnavyagnik commented on #130
Got it , seems that i just did not read that properly

[2016-09-08 14:39] stereodenis commented on #109
https://github.com/facebook/react-native/pull/9762

[2016-09-08 16:00] GuillaumeCisco commented on #134
Did you try to remove `transform-react-constant-elements` from your plugins?

[2016-09-09 05:31] mofan20 opened #146 "It does not support RN 0.32"
![temp](https://cloud.githubusercontent.com/assets/2122492/18376475/251502d2-7692-11e6-90fc-6ae67f2a7ec1.png)

[2016-09-11 01:19] fungilation commented on #109
Hmm https://github.com/facebook/react-native/pull/9762#issuecomment-246062195

[2016-09-11 09:56] xiaoboJoin commented on #146
me too ,how to fix it ?

[2016-09-11 11:35] xiaoboJoin commented on #113
@JakeRawr :
how to replace index.ios.js & index.android.js with the master branch version.?

[2016-09-11 12:25] xiaoboJoin commented on #146
@mofan20 ,i have fixed it ,and the answer :https://github.com/alinz/react-native-webview-bridge/issues/113

[2016-09-11 15:19] cbcye opened #147 "Is can support Crosswalk webview"
default android webview performance is too low, this bridge is it can support Crosswalk webview?

[2016-09-12 07:38] xiaoboJoin opened #148 "JS in html not work"
Hi，after merge react-native-webview-bridge into my project ,and the javascript function  in html like button onclick not triggered? how to fixed it ?

[2016-09-13 12:11] davidperrenoud commented on #148
On Android, you need to set `javaScriptEnabled={true}` in the props of the WebViewBridge component.

[2016-09-15 04:31] Nealyang opened #149 "could not show webView content on android"
when i used it on android ,it could not show webView content

[2016-09-15 14:01] Etheryte commented on #149
You will have to give a lot more details for anyone to be able to reproduce your problem.

[2016-09-15 14:18] Etheryte commented on #109
I wonder what a reasonable estimate would be on the above link getting merged? I need the functionality, but it would seem a waste to merge the different fixing branches from here only to have the functionality available in the main package shortly after.

[2016-09-15 17:32] fungilation commented on #109
RN releases every 2 weeks. So in 0.34 or 0.35?

[2016-09-16 14:23] turtec commented on #142
#import <objc/runtime.h>

works for me thanks

[2016-09-16 22:16] hmedney commented on #127
@289420843 can you expand on the issue and whether it still happens with the latest from master?

[2016-09-16 22:18] hmedney commented on #148
javaScriptEnabled={true} is now the default on Android (this component doesn't make much sense without it :-))

[2016-09-16 22:18] #148 closed

[2016-09-16 22:45] hmedney commented on #105
Hi all, this should be fixed now in Android...please see PR #150.  It uses a somewhat different approach to establish the bridge and dispatch messages from the web view to RN js.  If you spot any problems, please open a new issue...thanks!

[2016-09-16 22:45] #105 closed

[2016-09-16 23:00] hmedney commented on #85
This has been fixed; please see Issue #106

[2016-09-16 23:00] #85 closed

[2016-09-16 23:08] hmedney commented on #140
Not directly.  However you can write a message handler in RN that, based on the message received from the `WebViewBridge`, calls a function in RN.

One approach that seems to work well:
1. Create a JS object in the web view that includes a command name/id and an argument payload.
2. Convert to JSON and send across the bridge to RN
3. RN receives the JSON, parses back into an object, and handles th

[2016-09-16 23:14] ivanakimov commented on #141
Closing, since @hmedney is kicking ass and taking names :muscle: :smirk:

[2016-09-16 23:14] #141 closed

[2016-09-16 23:24] hmedney commented on #113
Until npm is updated, you can change `package.json` to install from Github instead of what's been published to npm.
[code]
[Using Github repos in package.json](https://docs.npmjs.com/files/package.json#github-urls)

[2016-09-16 23:26] hmedney commented on #146
@mofan20 is this still an issue for you?

[2016-09-17 03:09] alinz commented on #146
@mofan20 this is because the previous implementation of bridge uses old react-native. React, Component and other react specific features are now moved under `react` module. So @hmedney did an update and it should be working now.

[2016-09-17 03:11] alinz opened #151 "NPM release"
@hmedney I beleive it's a good time to release a new version under npm. Let me know and make sure to put your name under author section in `package.json`.

[2016-09-17 15:21] hmedney commented on #151
Hi @alinz, I added a contributors section to `package.json` and retested IOS and Android from `master` - I think it's good to go!  Do you want to tag and publish, or would you like me to do it?

[2016-09-17 17:46] alinz commented on #151
@hmedney yeah, let's do it. Thanks for helping me out. This looks really good

[2016-09-17 18:00] alinz opened #152 "Need more examples"
We need to provide simple but real use case examples inside the project folder.
It would be nice if anyone in community can help us with that. We should add couple of them as a starter

[2016-09-17 18:05] #151 closed

[2016-09-18 06:13] avishayil commented on #152
Hi Alinz,
Thanks for the library and your hard work.

I'll make a usage example to change the font size on a webpage using the RN `<Slider>` element.

How's the Core implementation going on? I can see there are some issues in the current library that might prevent it from being added, don't know exactly what did you fix in your upcoming release, but in my production app I noticed some issues.

[2016-09-18 06:56] avishayil opened #153 "Android: Method not found"
Sending to `WebViewBridge` works well, but the opposite way fails.
Error on chrome inspector:
![Error](http://i.imgur.com/nyRJpd6.png)

Relevant JS Code:
prop code:
[code]
JS code:
[code]

[2016-09-18 11:53] alinz commented on #152
@avishayil, thanks. @hmedney is helping me out to release this module more frequently. Looking forward to having your example added into project. Adding to core is a bit more complex that it looks. At the time, I'm trying to separate the Android internal webview class separate from each other. there are a lot of inner classes which is useful for extending but they are out of reach.
I will do my be

[2016-09-18 18:32] hmedney commented on #153
Hi @avishayil, can you clarify the flow - are you sending a message from the web view to RN?  If so, can you update the issue with the web view js code?

Also, what version of Android are you using?  Thanks

[2016-09-18 18:34] hmedney commented on #146
Closing on premise issue #113 and @alinz's response were the resolution

[2016-09-18 18:34] #146 closed

[2016-09-18 18:35] hmedney commented on #128
Closing; PR #129 has been merged

[2016-09-18 18:35] #128 closed

[2016-09-18 18:37] hmedney commented on #92
The repo was recently published to npm...closing

[2016-09-18 18:37] #92 closed

[2016-09-18 21:37] avishayil commented on #153
Hey, it was my fault, I passed old arguments I used in old fork, and that's what caused the error.

[2016-09-18 21:37] #153 closed

[2016-09-19 00:57] 879479119 commented on #149
Hey,I have met the same problem with you,since i cannot get this package from npm,i cloned it to my node-modules folder and configure it as the steps,compiled and installed successfully;but when i simply render a WebViewBridge,it showes nothing but a red border[RN 0.29]

code here:
[code]

![4542](https://cloud.githubusercontent.com/assets/12726506/18620497/8a88d9ac-7e46-11e6-9a51-cf9413fdf825.png

[2016-09-19 09:50] hmedney commented on #149
Hi @879479119, can you try installing again via `npm install` - the package was recently updated.  In addition to trying with a uri source, can you also try html to see if any content appears?

[2016-09-19 18:50] alinz commented on #151
@hmedney I has nothing to do with package.json. Anyone with write access to npm's project will be  shown there. I would like to control that one myself if you don't mind.

[2016-09-20 02:37] 879479119 commented on #149
0.0      I tried to update RN to 0.33, and install it via `npm install` successfully this time, but it doesn't work when use uri or html source;

it's really strange why there is a transparent view with a red border,does it refer to some warning from Android?

[2016-09-21 06:46] camellieeee opened #154 "WebViewBridge bug??"
![2016-09-21 2 37 41](https://cloud.githubusercontent.com/assets/18331008/18700295/fae766b4-8008-11e6-9ba7-627aa0fb8b1b.png)
My HTML:
imgs[i].onclick=function(){
 alert(1);
WebViewBridge.send('a');
alert(2);
}
only alert 1,cannot alert 2;
I think WebViewBridge is undefind. This error appears after update  XCode8

[2016-09-21 12:01] paolocaminiti commented on #80
This worked for me:

ios:CTWebViewBridge.m:97
[code]
android:WebViewBridgeManager.java:64
[code]

Note that in the ios version you lose the possibility to pass a litteral escaped '\n' around, as double escaped '\n' will always end up in single escaped '\n'.

I tried with no luck to have the ios version work via regexps, something like /\\\\(?![ntr])/g would work in js to escape all but break contr

[2016-09-21 19:45] StevenOspina commented on #154
Just noticed this too. I only get this on iOS 8 however. 9 and 10 work fine for me.

[2016-09-23 16:54] alinz commented on #120
@hadynz and @walter0331 please checkout from master. @amsul fixed the issue and his fix is already merged to master. Please close this ticket if it's fixed.

[2016-09-24 12:25] hadynz commented on #120
@alinz have just tested the master branch and can confirm that it works as expected 👍

This change was not part of the latest release, so I did have to test this from master. Worth bumping versions so it's available for all.

For the benefit of others reading this thread, if you are loading a source page with an input field that **has focus on page load**, and set the `WebViewBridge` property `key

[2016-09-24 12:25] #120 closed

[2016-09-24 15:32] alinz commented on #120
@hadynz would you mind adding that into the README.md. send me the PR.

[2016-09-26 02:30] camellieeee commented on #154
@StevenOspina Me too, but how to save it on IOS8 ?

[2016-09-27 14:37] hmedney commented on #154
Try installing from `master` and perform a clean build - just added a small change that should improve operation under IOS 8.

[2016-09-27 14:38] hmedney commented on #142
Fixed in PR #150 and published to npm

[2016-09-27 14:38] #142 closed

[2016-09-27 14:41] hmedney commented on #132
As of PR #150, this package works with RN 0.33 and 0.34.  Let me know via a mention if you're still running into problems.

[2016-09-27 14:41] #132 closed

[2016-09-27 14:43] hmedney commented on #137
This is not really an issue with this package.  Please ensure a clean install of `react-native` and then retry installation of `react-native-webview-bridge`.  If an error still occurs, open a new issue.

[2016-09-27 14:43] #137 closed

[2016-09-28 02:57] PressEsc commented on #133
same for me

[2016-09-28 03:56] alinz commented on #133
@mingkang1993 @PressEsc what is the version of this module that you guys are using?

[2016-09-28 04:12] deepmehtait commented on #132
@hmedney I am having issues in `injectedJavaScript={injectScript}` on Android. It works on iOS without any issues. Do you think your PR will fix that issue for android?

[2016-09-28 06:03] PressEsc commented on #133
fixed by https://github.com/alinz/react-native-webview-bridge/pull/129/files

[2016-09-28 13:58] alinz commented on #133
closing this ticket.

[2016-09-28 13:58] #133 closed

[2016-09-28 17:04] weremax commented on #69
Any updates or eta on a resolution to this related to android injected javascript not working, please?

[2016-09-28 17:07] alinz commented on #69
@weremax, recently @hmedney made a contribution to the code that solves android issues. Have you tried pulling it from master branch?

[2016-09-28 17:39] weremax commented on #69
@alinz , I have pulled from master and still am having the issue I am on react-native v 0.30.0 not the latest version could that be causing an issue.

[2016-09-28 21:52] #69 closed

[2016-09-29 01:21] jfpalngipang commented on #149
any solution on this issue?

[2016-09-29 11:39] ashu17706 commented on #149
I am having the same issue. I tried with html source.
RN 0.33

[2016-09-29 18:37] alinz commented on #140
@cbcye I'm working on RPC feature on top of Bridge. ios version is finished and I'm just wrapping up the android.

[2016-09-29 21:30] moaxaca commented on #154
@StevenOspina Also having this problem on latest master, Android 23.

[2016-09-30 15:29] alinz opened #158 "v2 First Draft"
Hello @hmedney and @amsul
Last night I made the final changes to android and I think it's ready to be merged in to master.
Please dive into the code on branch v2 and do a code review for me.

One of the big thing that I wanted was RPC on top of WebViewBridge, which is ready and I do have an example for this under example folder. it should work.

I have also decided to read the injected files from

[2016-10-03 03:57] Strainy opened #159 "Passing WebViewBridge to Web Worker"
First of all, awesome work on putting this together. Really looking forward to this being incorporated into core, it's a huge help.

I was just wondering if anyone has any experience or guidance to offer around utilising WebViewBridge within a web worker? Is it possible? How would I go about implementing this?

Thank again,

Strainy

[2016-10-03 05:04] alinz commented on #159
@Strainy thanks. Need to know your scenario. also I have implemented v2 which brings RPC into the picture.

about the core, there 2 main issue outstanding which prevents me to make a PR. waiting for core team to make their decision.

[2016-10-03 07:37] Strainy commented on #159
I'm working on a mapping solution leveraging the [Tangram](https://github.com/Tangrams/tangram/) library in a WebView. I want to provide data to my map over the bridge. The Tangram library uses Web Workers to request the data used to render the map in the background for performance reasons.

As an interim solution for an Offline Mapping POC I'm working on, I'd just like to reference an  external s

[2016-10-03 12:41] adamkdean commented on #141
@ivanakimov could you explain what @hmedney is doing?

[2016-10-03 12:49] adamkdean commented on #109
Still not release. Last activity 7 days ago. 😭

[2016-10-03 14:39] alinz commented on #109
There is an issue in this PR https://github.com/facebook/react-native/pull/6478 which holds me back to send a PR to core. Core team still debating about the right API and I'm waiting for that. In a meantime, I was working on RPC implementation which significantly simplify the process of calling methods on both WebView and React-Native. Checkout out the v2 branch.

in terms of release, I won't rele

[2016-10-03 18:44] alinz commented on #158
@hmedney any objection about merging v2 into master?

[2016-10-04 15:06] hmedney commented on #158
Hey @alinz, apologies for the delay...lemme take a look tonight and test.

[2016-10-04 16:52] alinz commented on #158
@hmedney no worries man, take all the time. let me know if you have any questions.

[2016-10-04 16:56] alinz commented on #80
@dozoisch I took a different approach which let me sends any type of data back and forth, and as you guest, base64. By using base64 technically we can send even binary data, not tested yet, but theoretically should work. We, @hmedney and I are refining the API and soon a new version of webview bridge will be released. but in a meantime you can checkout the v2 branch and take a look at the code.

F

[2016-10-04 16:56] #80 closed

[2016-10-04 17:04] alinz commented on #159
I don't think it would be possible in the scope of this project. However you have to establish the communication between Web Worker and WebViewBridge yourself.

if you do fork the Tangram library then you can expose some functions which lets you send message back and forth from/to Web Worker to interact with WebViewBridge.

Also internally, WebViewBridge requires to use window.location to trigger

[2016-10-04 17:04] #159 closed

[2016-10-04 17:05] alinz commented on #154
@camellieeee did the rebuilding fix the issue? if not reopen this ticket. and give use more details about the problem.

[2016-10-04 17:05] #154 closed

[2016-10-05 13:54] pcrouillere commented on #111
Hello, i have the same error with RN 0.31 :( Any idea why ?

Thanks a lot !

[2016-10-05 18:54] amsul commented on #158
@alinz so I skimmed over the diff between `master` and `v2`.. and it seems good to me (except for a couple minor typos in the docs)

The only noticeable thing that's missing is the `hideKeyboardAccessoryView` option. It'd be great if you can add that back.

[2016-10-06 01:20] alinz commented on #111
@pcrouillere please use the master branch instead.

[2016-10-06 07:38] pcrouillere commented on #111
@alinz I did, thanks :)

[2016-10-07 09:31] erikdung opened #160 "mediaPlaybackRequiresUserAction"
Cannot set mediaPlaybackRequiresUserAction in WebViewBridge, any help?

[2016-10-09 16:36] bcsilva93 commented on #149
I found a solution to remove the red line and show the WebViewBridge in all the screen like the normal WebView.

I found some differences in styles of ios files and android files, so I copied the styles of ios to android and change it a bit.

I copied the styles and BGWASH variables in **/node_modules/react-native-webview-bridge/webview-bridge/index.io.js** to **/node_modules/react-native-webview-

[2016-10-09 17:08] hmedney commented on #158
hi @alinz apologies again for the delay...crazy week.  i've blocked out monday evening to dig in and test.

[2016-10-10 18:03] davidperrenoud commented on #34
For the record, I was able to send 200 000 characters on Android and 2 000 000 on iOS.

[2016-10-11 23:21] sachinrekhi opened #161 "setNativeProps() not working"
I'm using this React Native WebView Bridge and I'm trying to set a native property on the UIWebView using something like this:

this.refWebViewBridge.setNativeProps({keyboardDisplayRequiresUserAction: false})

However I'm getting that setNativeProps is not a function on the ref. Is there a variable within the Web View Bridge that is a reference to the underlying UIWebView which I can use to set th

[2016-10-12 05:45] hmedney commented on #158
hi @alinz, still reviewing the `v2` branch...noticed the following so far:
- seems to be branched from an older version of `master` and is missing some of the recent changes.  I can try to incorporate the `master` updates if you're interested.
- the code (and README) require the user to include the bridge script files in Xcode - I'd like to explore a way to avoid that step to simplify setup

If I

[2016-10-12 11:50] alinz commented on #158
@hmedney Thanks for reviewing code. so there are couple of major thing,
1: because of limitation of how WebView works, we can only transfer string. I have added base64 encoding in between. By using base64 we are eliminating a problem with single queue and double quote and also technically we can transfer binary data back and forth.
2: RPC is just an implementation of how we can register and call f

[2016-10-13 15:17] mlostekk commented on #127
Same on my side...

if i pass

```source={{ uri: "https://www.youtube.com/embed/70We1tmFKwU" }}```

it works.. but if i pass

[code]

it does not show the locally saved index.html

[2016-10-13 16:01] mlostekk opened #162 "when using const SRC = require(...html) webview stays blank"
Anybody encountering the same issue?

When i use

`const WEB = require('../../../assets/player/vib_and_sound/index.html');`

and

[code]

it does not work. When i use an http url as source, it works fine.

Anything i am forgetting to do?

[2016-10-15 01:36] tioback commented on #109
@alinz in the mean time, can we use branch v2?

[2016-10-15 01:55] alinz commented on #109
@tioback yes, you can, v2 branch is being used in production at the moment and we are using RPC implementation on top of that. Please refer to the rpc example on that branch.

[2016-10-15 09:29] ifzm opened #163 "sendToBridge Bug ?"
![image](https://cloud.githubusercontent.com/assets/12740295/19408978/50672e7a-92fc-11e6-9057-0dc8ef7f1781.png)

I'm going to implement an example of a drop-down refresh, but invoking sendToBridge on onRefresh does not respond to JS onMessage, and I'm sure that sendToBridge is valid on the onBridgeMessage call

[2016-10-18 11:31] hmedney commented on #163
hi @ifzm, nothing's jumping out.  Is it something I can download/clone locally to debug?

[2016-10-18 12:37] hmedney commented on #162
Hi @mlostekk, couple of things:
- Currently, React Native is unable to read arbitrary local files using `require()` - just json and image files.  As a workaround, you could place the contents of `index.html` inside a property of a local json file.
- To include html as the source for the WebViewBridge, use `source={{html: htmlString}}`.  It's the same format as [WebView](https://facebook.github.io/

[2016-10-18 12:37] #162 closed

[2016-10-19 21:26] adamipc commented on #109
@alinz Is v2 ready on Android? I notice the README for v2 is a bit sparse, leaving out the instructions from master that I assume are still required. But it doesn't say how to specifically add the javascript asset files on both Xcode and Android, If it DOES work on Android, could you at least write up a little how to on where to put the js files so they can be loaded? Thanks!

[2016-10-19 21:27] Etheryte commented on #109
@adamipc If you look at the example project, you can see that you need to add the two script files directly into your main project in Xcode. Haven't tested it in Android.

Agreed, that better documentation would help, but all in due time.

[2016-10-19 21:29] adamipc commented on #109
@Etheryte Thanks, you're right, the example project does show where to add stuff and I should be able to use that to figure it out (it does appear to have Android as well so I'll test for myself whether it works)

[2016-10-19 22:30] adamipc commented on #119
Is this specific to redirects or does this happen on every page load after the initial one? My testing shows that the injected script is only run on the initial load, when I navigate to a new page there is no way to communicate with the webview anymore.

[2016-10-20 06:17] ilovedesert001 commented on #149
@bcsilva93  Have you solved this problem?("But now I'm facing another problem, in JS debug I'm receiving this exception Native component for "RCTWebViewBridge" does not exist.")

[2016-10-23 08:45] ifzm commented on #163
So sorry. Careful examination revealed that it was my own problem )

[2016-10-23 08:45] #163 closed

[2016-10-25 04:33] yuanji123 opened #165 "when i update react-native0.35, ios ok, but android can't send message"
my android version is 5.0.2

[2016-10-25 07:43] #165 closed

[2016-10-25 15:09] GantMan commented on #109
@alinz - Awesome work, we all appreciate you adding this to core.

[2016-10-26 07:00] seakingii commented on #109
+1

[2016-10-26 11:59] shenlq commented on #127
+1

[2016-10-31 12:43] swaroopa94 commented on #88
I placed the following code in the AppDelegate.m
`NSString *newAgent = @"wc5";
 NSDictionary *dictionnary = [[NSDictionary alloc] initWithObjectsAndKeys:newAgent, @"UserAgent", nil];
  [[NSUserDefaults standardUserDefaults] registerDefaults:dictionnary];`

But i did not get any result please help to solve this.

[2016-11-01 16:25] quadsurf opened #166 "Is there a way to set this up using RNMP instead?"

[2016-11-01 18:35] alinz commented on #166
@quadsurf are you talking about react-native package manager (RNPM)? if that you are talking about then version 1 is compatible but version 2 is not at the moment.

[2016-11-01 20:56] quadsurf commented on #109
I see that React Native has the 'injectedJavaScript' property/attribute included in WebView:

<WebView injectedJavaScript={} />

Does this deliver the same capability/objective as  @alinz 's  webview bridge? If not, how do they differ? (I'm still a coding noob)

[2016-11-01 20:58] adamipc commented on #109
@quadsurf The injectedJavaScript lets you run arbitrary javascript within the WebView but doesn't give you any mechanism for communicating between the WebView and your React Native code which is what the WebView Bridge adds.

[2016-11-01 20:59] quadsurf commented on #166
@alinz yes, referring to the RN package manager. Once v2 has it, would it need to be re-added to Core as a new/separate PR?

[2016-11-01 21:04] quadsurf commented on #109
thank you @adamipc ... since alinz added this to core via a recent PR, would updating to RN @latest get me all the functionality from this repo? Or would I still need to install this repo if I need that RN-to-WebView communication.

[2016-11-02 01:21] Strainy opened #167 "setAllowUniversalAccessFromFileURLs prop not working"
Hi all,

Just been trying to execute an XmlHttpRequest from a local file within the WebView to a remote server.

I understand that the setAllowUniversalAccesFromFileURLs property is supposed to allow this functionality. However, my requests fail with a status of 0, indicating that there's some sort of CORS issue.

Is anyone else able to verify this?

Details:

React Native: v0.33
RN WebView Bridge

[2016-11-02 18:37] stereodenis commented on #109
https://github.com/facebook/react-native/commit/abb8ea3aea686e2cd881a61fbc66d137857ef422

[2016-11-03 10:49] tioback commented on #109
@stereodenis, care to explain what you aimed to achieve by simply posting a link?

[2016-11-08 09:54] annalamws commented on #154
I have installed react-native-webview-bridge version 0.33.0, react-native verson 0.33.0, and I am using Xcode 8 to build to an iphone with iOS 8. Crash occurs as below:
![screen shot 2016-11-08 at 5 48 47 pm](https://cloud.githubusercontent.com/assets/23333475/20094313/ac10990e-a5db-11e6-9278-67874c6ef5c5.png)

However, iOS 9 and 10 work fine.
For iOS 8, everything work fine again when I change We

[2016-11-08 14:44] jacobp100 commented on #109
It’s been added in 0.37.

[2016-11-08 14:45] mlostekk commented on #109
wonderful! thanks to all for their great work!

[2016-11-08 14:55] fungilation commented on #109
👍🏻
On Tue, Nov 8, 2016 at 6:45 AM Martin Mlostek <notifications@github.com>
wrote:

[2016-11-08 15:17] Etheryte commented on #109
Please be considerate when replying to issues with many participants.
If you can, use the existing reaction functionality instead of adding a new comment, otherwise 40 people will get an email with just a thumbs-up emoji in their inbox.

[2016-11-09 21:39] pawellewandowski opened #169 "Error in ARTShape"
RN: 0.36
WebView-Bridge: 0.33

![screenshot_20161109-223121](https://cloud.githubusercontent.com/assets/3199040/20155629/095cf890-a6cd-11e6-9aa9-dbe18f587c45.png)

Bug occurs often, but not always at application start

[2016-11-09 21:53] #169 closed

[2016-11-11 01:32] amsul commented on #127
@mlostekk that seems incorrect. The `source` shouldn't be the result of "requiring" the file. It needs to be the URI path to it.

Most likely, it would be something like this:

[code]

[2016-11-11 19:02] Andrew-Tan opened #170 "Inserted web js not working"
Hi,

I am intended to use webview bridge to display a local html page. When I try injecting the script through webview bridge, everything works. However, then I try putting the same script directly into the html page through <script></script> tag, it doesn't seems to work.

Any hints?
Thanks

[2016-11-12 04:39] agumack commented on #154
@annalamws i have same problem

[2016-11-16 10:49] gre commented on #35
I agree that the library should fix that, not the user code..

[2016-11-16 11:36] filestealer opened #172 "error after fetch in onBridgeMessage"
Hello.

in onBridgeMessage have function post request by fetch.
after calling have error:
have one idea?

[code]

CODE:
[code]

[2016-11-18 16:34] jqn commented on #170
I'm having the same problem +1

[2016-11-18 16:39] jqn opened #173 "Update project ReadMe to reflect this project was added to core."
Please refer to this issue: https://github.com/alinz/react-native-webview-bridge/issues/109

@alinz It seems that there was an unofficial announcement about this component being added to core and it is confusing some people. Thumbs up by the way.

[2016-11-18 18:39] alinz commented on #173
I was planning to do it, but there are some outstanding bugs from core team which causes me to stop working on it until further notice. I really want to move it into core but it needs to be fully tested and also approve by them, it is a lengthy process.

[2016-11-23 11:59] BogdanHossu opened #174 "Upload/Download files in webview"
At the moment I need in my webview to upload and download files, is there a way how to do it?

[2016-11-24 06:35] wzy535 opened #176 "when press hardware Back button it alert "app has stopped""
Hi,
I got this problem :when press hardware Back button it alert "app has stopped".
How to remove this alert?
please help! Thanks in advance!

webview-bridge : v 0.33.0
react-native: v 0.35.0
device android: 6.0.1

[2016-11-25 08:27] abc1992com commented on #154
In iOS8, this problem still exists

[2016-11-28 07:19] JimmyDaddy opened #177 "dyld: Symbol not found: _objc_unsafeClaimAutoreleasedReturnValue"
IOS: 8.1
macOS: 10.12.1
RN: 0.38.0 & 0.34.1

I got 'dyld: Symbol not found: _objc_unsafeClaimAutoreleasedReturnValue', and IOS 9+ is OK.

￼There is the error trace:
![image](https://cloud.githubusercontent.com/assets/16460813/20659317/e64ff04a-b57d-11e6-980e-bf47b460a479.png)
￼

[2016-11-28 11:02] longzaitian opened #178 "[IOS]errorReferenceError:Can't find variable:WebViewBridge"

[2016-11-29 00:05] darrencamp commented on #149
I had a similar issue but my problem was that I read the installation instructions wrong. Where it says:

I read it as only add this line if using RN < 0.29

[2016-11-30 11:45] kalpeshbewakoof commented on #108
I am facing the same issue. I am on RN 0.35.0

[2016-12-02 03:07] chenda3237 opened #179 "IOS8 CRASH"
I used it,but it crash when the platform is 'ios8'

[2016-12-02 14:19] xiewang commented on #170
+1

[2016-12-02 19:25] ezyone123 commented on #154
I am having this issue:

XCode Version 8.1 (8B62)
iPhone 5s running iOS 8.1 (12B41)

Exact issue outlined above on line
`[webView stringByEvaluatingJavaScriptFromString:webViewBridgeScriptContent];`

`webViewBridgeScriptConent = (function (window) { 'use strict'; if (window.WebViewBridge) { return; } var RNWBSchema = 'wvb'; var sendQueue = []; var receiveQueue = []; var doc = window.document; var

[2016-12-02 19:29] ezyone123 commented on #179
This is likely related to the [issue #154](https://github.com/alinz/react-native-webview-bridge/issues/154)

[2016-12-02 20:27] ezyone123 commented on #154
So it seems like this functionality has made it into react 0.37 in the web view, this library is no longer needed and seems to have lost the support of the author. This is great as this library remade a lot of stuff that was already in the web view so now its all in one place.

[Details on the project that added this functionality](https://github.com/facebook/react-native/pull/9762#issuecomment-24

[2016-12-02 20:28] ezyone123 commented on #179
@chenda3237 see my comment on issue 145, this now has react-native core support. No need to use this library anymore.

[2016-12-03 04:55] xiewang commented on #170
In the debug mode, it works fine, but not in release.
I find that in debug mode, webView load js files from http://localhost:8081, in release mode, webview can only load js files from bundle resources. But, even I add the js files to the 'Copy Bundle Resources', it still not works.
####So, I do these changes:
1. Change the html file to string
const html = \``<html>...</html>`\`
2. Just transfer th

[2016-12-03 04:55] xiewang commented on #170
In the debug mode, it works fine, but not in release.
I find that in debug mode, webView load js files from http://localhost:8081, in release mode, webview can only load js files from bundle resources. But, even I add the js files to the 'Copy Bundle Resources', it still not works.
####So, I do these changes:
1. Change the html file to string
const html = \``<html>...</html>`\`
2. Just transfer th

[2016-12-06 09:05] chenchongyu opened #181 "Can I use it without injectedJavaScript?"
Can I create a new WebViewBridge without injectedJavaScript? The script writen on the WebPages by someone else.

[2016-12-06 15:02] TSMMark commented on #173
@alinz Once this component is in RN core, will the react-native-webview-bridge API remain the same? We want to implement this now, and I'm curious if we will have to make a lot of changes once it is in core.

[2016-12-08 01:29] 1610449813 opened #182 ""Uncaught TypeError: WebViewBridge.send is not a function", source: (1)"
in release，android can not use this WebViewBridge.send method，

[2016-12-08 01:30] 1610449813 commented on #182
@

[2016-12-08 01:31] 1610449813 commented on #182
andoird:5.0
RN:0.39.0
MAC OS 10.12.1

[2016-12-09 02:38] 3449790992 opened #184 "能否让android 的webview支持 alert、confirm？"
ios现在没问题，android能否支持谢谢？

[2016-12-09 09:32] 3449790992 commented on #109
Javascript alert not working in android react-native webview，can you update it for support js alert?

http://stackoverflow.com/questions/41028001/javascript-alert-not-working-in-android-react-native-webview

[2016-12-09 09:34] 3449790992 opened #185 "Javascript alert not working in android react-native webview"
Javascript alert not working in android react-native webview，can you update it for support js alert?

http://stackoverflow.com/questions/41028001/javascript-alert-not-working-in-android-react-native-webview

[2016-12-10 12:00] vegmorse opened #186 "Unable to open URL: wvb://message"
Hello,
Is giving me this message that interrupts the webview navigation execution.

Possible Unhandled Promise Rejection (id: 0):
Unable to open URL: wvb://message1481370849256

Can somebody help me?

RN: 0.35
Platform: iOS 10.1

Thank you very much

[2016-12-12 19:53] emitchel opened #187 "Enable Local Storage"
In android we can easily set the webview to allow localStorage, but I don't see anything for React Native's webviews. I feel like I'm missing something simple since I don't see any issues regarding it. Any idea?

[2016-12-12 21:48] emitchel opened #188 "Force HTML & JS refresh"
Am currently working on a project that uses a webview that carries a heavy (arguably too heavy) load of JS and HTML. When I'm making JS & HTML changes I'm forced to completely uninstall the app to see the newest changes. Is there a way to ignore cached (?) version and always pull from directory? The HTML & JS used is pulled in locally - none of them are pulled over http.

[code]

[2016-12-13 07:24] anarkh commented on #149
@879479119  Have you solved this problem?I have the same problem.

[2016-12-13 15:22] alinz commented on #149
Have you guys used V2 branch? still in beta but couple of apps are using it in production and they don't have any of these issues.

[2016-12-13 16:46] danielCrespo01 opened #189 "It is possible to reload the web view bridge component"
There is some functionality of web view bridge that allows to reload the component

[2016-12-13 23:46] adamipc opened #190 "v2 broken on Android"
If you look at this commit: https://github.com/alinz/react-native-webview-bridge/commit/97087c04ad45e093f083a4c2804599f20e648f16#diff-723ea1411e8004f77bff373af1d67bf5 WebViewBridgeState usage was renamed to WebViewState but the definition was not changed so I get "Can't find variable: WebViewState".

[2016-12-13 23:53] adamipc commented on #189
React will automatically reload the component if some part of the presentation changes, so if you have `<WebViewBridge source={{uri: 'some-url-with-a-' + this.props.variable}} />` and you change `this.props.variable` then the component will be reloaded.

I'm not sure but you might even be able to add dummy information to the source so like `source={{uri: 'someuri', dummy: this.props.forcereload}}`

[2016-12-14 08:48] czhaoli opened #192 "IOS8 CRASH ( no need to upgrade react-native 37 )"
Is there no need to upgrade react-native 37 can handle?

[2016-12-15 06:36] thomasdavis commented on #187
Same boat!

[2016-12-17 18:13] vjtc0n opened #193 "Need support for uploading images on android devices"
Hello,
When I try to upload images through webview, it was perfect on ios, but not on android.
Here is my code from html:

`<input id="file" type="file" accept="image/*" style="display: none;">`

On android, it didn't open the gallery to pick up images, photos...
Also, I turned on some permissions according to Android Studio doc:

[code]

My simulator device is google nexus, API 23.
Am I wrong at

[2016-12-18 09:34] Etheryte commented on #189
If you really need to force an update on the component regardless of the props or state, you can use [`forceUpdate`](https://facebook.github.io/react/docs/react-component.html#forceupdate), however, if you think you need to use it it's more likely you're doing something wrong.

[2016-12-18 09:51] Etheryte commented on #188
The problem probably stems from using the [`CommonJS require`](https://nodejs.org/docs/latest/api/modules.html). While I'm not too familiar with it myself, the module loader has an internal cache and is intended either for static files or JS modules in RN, I'm not sure how it handles loading arbitrary files like this.

[2016-12-20 20:46] alkhanna commented on #120
@alinz is this fix also available for Android?

[2016-12-22 06:14] tioback commented on #173
I'm having a hard time migrating an app that uses the v2 branch into the RN core WebView. The API definitely isn't the same in this case.

[2016-12-22 19:50] reimertz commented on #108
you need to link the library.
[code]

[2016-12-23 19:21] ahsanazim commented on #187
Does [this](http://stackoverflow.com/questions/40496031/react-native-webview-with-ios-and-domstorage) link help? It isn't authoritative, but intuitively makes sense

[2016-12-23 20:02] Alex-Bond commented on #15
Hi! I know that this is old issue, but i have the same problem right now. I want to print WebView and your example doesn't work.
@alinz can you provide some working example?

[2016-12-25 12:36] rasom commented on #187
@emitchel @thomasdavis
I just added PR https://github.com/alinz/react-native-webview-bridge/pull/195
Meanwhile, you can use my fork (or fork it :) )

[2016-12-27 13:55] emitchel commented on #187
Thanks @rasom , that was the same approach I was using locally for the time being.

[2016-12-28 02:07] ouyangdxq commented on #49
to me WebView is not just another View，is another ScrollView，and that‘s  a problem when ScrollView inside another ScrollView

[2016-12-28 07:16] johnpaulmanoza opened #197 "sendToBridge not working on Android"
This code works fine in iOS but not in Android 6.0 Device.

[code]

[2016-12-28 22:53] MatthewAwesome commented on #197
I was having the same issue. Seems to be an issue with Android and ES6 syntax that is specific to the WebView-Bridge extension. It worked once I changed reverted my code to ES5. Hope this quick fix works for you too! Stay awesome!

[2016-12-29 08:31] lee11qian commented on #182
I have the same problem.
RN is 0.28.0, It's Ok.But RN is 0.36.1,have error:
[code]

[2016-12-30 03:02] lee11qian commented on #182
I know the problem.
Because in release I open ```def enableProguardInReleaseBuilds = true```(in build.gradle).In order to sovle this question, add this line in file proguard-rules.pro:
[code]

[2017-01-02 19:25] emitchel opened #198 "Is it necessary to delay the message sent to native webview by 15ms?"
https://github.com/alinz/react-native-webview-bridge/blob/master/scripts/webviewbridge.js#L37

This line shows we're arbitrarily delaying the message sent by 15ms. In my scenario I have call A which finishes almost instantly and call A pushes message X to the webview, call B depends on data from call A and pushes message Y to the webview. By the time 15ms is over, the list (named queue but is actu

[2017-01-03 05:29] alinz commented on #198
I've seen a lot of people doing intensive work and it blocks the UI thread. one fix could be moving `var message = receiveQueue.pop();` out side of `setTimeout` function which fix your problem. we might even use `setImmediate` instead of `setTimeout` to reduce the delay, but I would prefer to make this call async so I can return the thread back to the poll as fast as possible.

Do you think one of

[2017-01-03 13:53] emitchel commented on #198
@alinz I believe moving the `.pop()` outside of the timeout should be sufficient. Thanks for the response!

[2017-01-06 13:53] thedjinn opened #199 "Does not compile under React Native 0.40"
I have upgraded my react native project to 0.40. Everything works fine, except for react-native-webview-bridge which produces loads of compile errors. This might have something to do with https://github.com/facebook/react-native/commit/e1577df1fd70049ce7f288f91f6e2b18d512ff4d

<img width="259" alt="screen shot 2017-01-06 at 14 51 25" src="https://cloud.githubusercontent.com/assets/346890/21719804/

[2017-01-06 23:35] fungilation commented on #199
Need iOS header updates [like this](https://github.com/react-native-community/react-native-blur/commit/19295fcd1d70536d696351f5d5c41782196433a3).

See https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-01-08 10:40] qq326646683 opened #200 "[Android] injectScript not work"
https://github.com/alinz/react-native-webview-bridge/issues/69

hi,Alinz,I also can't deal with it,need your help ,thanks

[2017-01-08 10:40] qq326646683 commented on #200
@alinz

[2017-01-09 04:47] rogan-son opened #201 "New window can't open additionally new window in only iOS?"
After webview is opened, in some cases, the window needs to open new window.
But, this action is only working fine in Android. How can we resolve this problem in iOS?

[2017-01-10 23:58] nhayfield commented on #15
@Alex-Bond @alinz
I need the print functionality too. I am willing to upgrade to latest version of RN that includes your web bridge in the webview if i can then print. By the way congratulations on getting that implemented!

[2017-01-11 16:25] avishayil commented on #200
same here

[2017-01-12 05:58] qq326646683 commented on #200
@avishayil  are you successful ？can you tell me how to use v2 detailly？

[2017-01-12 08:57] avishayil opened #203 "Android: `WebView has no propType for native prop `RCTWebViewBridge.messagingEnabled`"
![Android Error](http://i.imgur.com/dRvlaRb.png "Android Error")

Happens only on Android, on iOS works just fine.

[2017-01-12 09:00] avishayil commented on #200
Couldn't make it work for now.

[2017-01-12 10:26] thedjinn commented on #200
I have also encountered this, only on Android. As I was using jQuery inside my page I decided to move the injected code to the jQuery ready function inside the HTML file. This works fine.

[2017-01-12 14:54] qq326646683 commented on #200
Can you send your code about this to me,thank you evry much . my email is 326646683@qq.com @thedjinn

[2017-01-12 14:56] thedjinn commented on #200
I would say this is a rather trivial thing to find out yourself.

[2017-01-12 15:01] qq326646683 commented on #200
I agree with you ,I will deal with it quikly with your help if you have time.I spend a lot of time at here

[2017-01-12 15:01] qq326646683 commented on #200
@thedjinn   I agree with you ,I will deal with it quikly with your help if you have time.I spend a lot of time at here

[2017-01-16 09:08] qq326646683 commented on #200
no one can't deal with it,I can't believe it,We need your help,thank you so much @alinz

[2017-01-16 10:59] avishayil commented on #200
I solved it in an ugly way. Check my fork.

On Mon, Jan 16, 2017, 11:08 qq326646683 <notifications@github.com> wrote:

--

[image: --]

Avishay Bar
[image: https://]about.me/avishayb
<https://about.me/avishayb?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-01-18 04:02] Muriel0603 opened #204 "demo 运行不起来啊"

[2017-01-18 05:43] erikuix commented on #200
+1

[2017-01-18 19:09] MacKentoch commented on #200
Hi, I'm not pretending this applies to your issues, but remember that **in Android** (*iOS doesn't care*) `injected scripts` **should not contains comments at all**.

[code]

[2017-01-21 17:03] qq326646683 commented on #200
I‘m regret that I can't get you @avishayil

[2017-01-21 17:04] qq326646683 commented on #200
Have you dealed with it? @erikuix @MacKentoch

[2017-01-21 19:16] MacKentoch commented on #200
@qq326646683 When I have trouble in Android it is always only because of remaining comments.

When I have a huge library to deal with I clean comments *with [strip-comments](https://www.npmjs.com/package/strip-comments)* then it is ok.

[2017-01-22 13:59] avishayil commented on #200
Hi @qq326646683, Please check this fork:
https://github.com/geektimecoil/react-native-webview-bridge
Follow the updated Readme.
It works well for me, and also fits RN 0.40.

[2017-01-22 17:22] qq326646683 commented on #200
I can't accept "Edit scripts/WebViewBridgeCustomScript.js and insert your desired custom script, you wish to be injected to the page, instead of using the injectedJavaScript prop of WebView." in Read me,because I need send my data from rn to html by injectedJavaScript. @avishayil

[2017-01-22 17:26] qq326646683 commented on #200
componentWillMount() {
        injectScript = `
        alert(8)
  (function () {
    var data = [[1000,2000,3000,4000,5000,7000,9000]];
    var data_max = 10000; //Y轴最大刻度
    var line_title = ["A"]; //曲线名称
    var y_label = "收入"; //Y轴标题
    var x_label = "时间"; //X轴标题
    var x = ['2017.4.24','4.25','4.26','4.27','4.28','4.29','4.30']; //定义X轴刻度值
//  var title = "周收入"; //统计图标标题
    j.jqplot.diagram

[2017-01-22 18:04] qq326646683 commented on #200
Inspired by you，I remove the comment section，then it worked，but it also don't alert at android,I'm curious。In short，thank you very much! @MacKentoch

[2017-01-22 18:04] qq326646683 commented on #200
componentWillMount() {
        injectScript = `
  (function () {
    var data = [[1000,2000,3000,4000,5000,7000,9000]];
    var data_max = 10000;
    var line_title = ["A"];
    var y_label = "收入";
    var x_label = "时间";
    var x = ['2017.4.24','4.25','4.26','4.27','4.28','4.29','4.30'];
    j.jqplot.diagram.base("chart1", data, line_title, "周", x, x_label, y_label, data_max, 1);

[2017-01-22 18:05] #200 closed

[2017-01-22 19:12] MacKentoch commented on #200
@qq326646683 glad you solved. By the way I'm not sure alert work in android.

[2017-01-24 18:27] #190 closed

[2017-01-24 22:14] dozel opened #205 "Caching"
Does this library use the same cache for each WebViewBridge? What I'm asking is, each time I open a new WebViewBridge, does it use its own cache, or do all of them share cache?

[2017-01-24 22:29] dozel commented on #205
Could this be related -> https://github.com/facebook/react-native/pull/8578

[2017-01-25 23:47] HofmannZ opened #206 "UPDATE: This package is part of RN core!"
This package is part of React Native core in the [docs](http://facebook.github.io/react-native/releases/0.40/docs/webview.html) you can see it in use in the `messageTest` example.

I also don't think this package is actively maintained anymore.

[2017-01-26 14:15] thedjinn opened #207 "Cross site scripting vulnerability"
Hi! If you use `sendToBridge` with a string then this string is injected into a piece of JavaScript which is evalled inside the webview (that is how the message passing mechanics work). If you push a string like `');alert('hello` you can execute arbitrary code inside the webview. This is particularly nasty if you send data to the webview from e.g. an external API, making this an XSS attack vector.

[2017-02-01 16:41] BTMouseKing commented on #34
@alinz I notice passing a large data can slow down the rendering of the webview, but i need to pass the data for rendering the chart in the webview, what is the right way to do this other than passing the data as the message?

[2017-02-04 12:33] mvnnn commented on #149
I get same problem

[2017-02-05 19:12] Etheryte commented on #149
There is no reason to use this package anymore, all of the functionality has been merged into RN itself.

[2017-02-06 02:56] RtzX opened #208 "ios 8 crash. This is not supported iOS 8?"
If the version is iOS 8, the app will crash:

`dyld: Symbol not found: _objc_unsafeClaimAutoreleasedReturnValue.`

This error is because does not support iOS 8?

[2017-02-06 02:58] RtzX commented on #177
me too.this is not support iOS 8.

[2017-02-16 13:38] MiRinZhang opened #209 "complie failed for RN0.41.2"
I used `react-native-webview-bridge@0.33.0`，but complie failed.

How do i fix this?

[2017-02-19 05:45] 96qbhy commented on #209
I also encountered this problem.  Hope to be solved.

[2017-02-19 06:44] MiRinZhang commented on #209
@96qbhy see this [https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/WebViewExample.js#L252](https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/WebViewExample.js#L252).

It's worked for me。

In addition, If you encounter an error `react native setting imessage on a webview overrides existing values of window.postMessage....`, you can do this
<img w

[2017-02-22 13:41] sun2rise opened #210 "how to load js and css from html file"
Hi,
I have index.html, style.css and index.js all inside `android/app/src/main/assets` folder
i'm setting up a webviewbridge like this:

[code]

then inside my index.html...

[code]

The paragraph called `elementOne` is rendered but the style.css and the index.js are not working at all.

Where I am wrong?

[2017-02-22 15:07] sun2rise commented on #210
never mind, it was my fault!

[2017-02-22 17:30] diogopalhais opened #211 "Just a question, can i call the webviewbridge.sendToBridge method from a button for example?"

[2017-02-22 18:44] Lichwa commented on #206
Here's link to [example](https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/messagingtest.html) as docs explain only webview -> RN communication and not other way around.

[2017-02-23 08:47] #209 closed

[2017-02-25 23:15] PavSidhu opened #213 "Issues with importing with React Native 0.41"
While I know this library is no longer maintained, I'm using a [library](https://github.com/wix/react-native-zss-rich-text-editor) which uses this library as a dependancy.

To update the package to work with RN 0.41, I had to update the imports like this:
`"RCTBridge.h"` to `<React/RCTBridge.h>`

I did this for all the imports with RCT are a prefix in all the .m files and the iOS app compiles succ

[2017-02-28 03:02] xuanheScript opened #214 "How can support callback like WebViewJavascriptBridge?"
SendToBridge can only send string, which is not convenient to use, I hope you can use js in the callback

[2017-02-28 05:41] xuanheScript opened #215 "The installation error is above rn0.40"
In rn0.40 and above build error, hope to adapt to the new version
![image](https://cloud.githubusercontent.com/assets/19216775/23393114/6b34e9ac-fdbb-11e6-8a17-c42ebb1cc3a7.png)

[2017-03-01 15:41] danielearwicker commented on #109
So do I need this package or is it already included in react-native? Above there are several messages indicating the project was added to core and then other messages saying it isn't yet.

[2017-03-01 15:43] Etheryte commented on #109
@danielearwicker Did you try reading [the docs](https://facebook.github.io/react-native/docs/webview.html)?

[2017-03-01 17:01] danielearwicker commented on #109
@Etheryte yes! I'm playing with WebView right now. I'm wondering if this project has anything extra.

[2017-03-01 22:26] fungilation commented on #109
I'm still using this as RN's own is still stuck in the ivory tower: https://github.com/facebook/react-native/pull/10941#issuecomment-278807506

Unfortunately, as this package is getting orphaned with no merging of critical PRs.

[2017-03-02 00:19] MatthewAwesome commented on #215
I'm getting the same issue after upgrading :(

[2017-03-06 08:20] xuanheScript commented on #215
solved

[2017-03-06 08:20] #215 closed

[2017-03-16 01:20] Nealyang opened #218 "does not support flex layout in Android"
Low version of Android does not  support flex layout，v 4.4.2

Do you have this problem?

[2017-03-16 03:55] coolmsd commented on #181
You could just use without `injectedJavaScript`

[2017-03-16 20:50] coolmsd opened #219 "Is iframe working for android ????"
I saw [closed issue #24](https://github.com/alinz/react-native-webview-bridge/issues/24)

inside webView, html has a iframe,
it doesn't show anything inside webViewBridge in android but it's perfect in ios.

Should I do something for android?

the version is 0.33.0

+) I should change some files to work properly about import lines under node_modules/react-native-webview-bridge/ios/ something like

[2017-03-20 14:19] cokealmonacid commented on #215
How do you solve this?

[2017-03-24 15:17] adamkdean commented on #205
I'm not sure, but there seriously needs to be a way to control the cache of WebView. Each of these PRs just keep getting closed without any action.

[2017-03-25 03:58] peterept opened #220 "WebViewBridge not available on initial document load"
The sample did not work for me. The `WebViewBridge` variable was undefined when the document is loaded. Initially I added a small timeout, but am now using an event listener as shown below.

[code]

[2017-03-25 18:31] HofmannZ commented on #208
See [#206](https://github.com/alinz/react-native-webview-bridge/issues/206)

[2017-03-25 18:31] HofmannZ commented on #220
See [#206](https://github.com/alinz/react-native-webview-bridge/issues/206)

[2017-03-25 18:32] HofmannZ commented on #219
See [#206](https://github.com/alinz/react-native-webview-bridge/issues/206)

[2017-03-25 18:32] HofmannZ commented on #218
See [#206](https://github.com/alinz/react-native-webview-bridge/issues/206)

[2017-03-25 18:33] HofmannZ commented on #214
See [#206](https://github.com/alinz/react-native-webview-bridge/issues/206)

[2017-03-25 18:33] HofmannZ commented on #213
See [#206](https://github.com/alinz/react-native-webview-bridge/issues/206)

[2017-03-25 23:35] peterept commented on #220
Thanks @HofmannZ.

 Are there any advantages of this project? Like the JS injection?

[2017-03-26 11:31] HofmannZ commented on #220
Not much since all of the devs moved the RN core implementation. There are still a couple of little bugs, though a load less than there are in this package. JS injection is also available in the core implementation, just use the `injectedJavaScript` prop, you can read up on it [here](http://facebook.github.io/react-native/releases/0.42/docs/webview.html#injectedjavascript).

[2017-03-28 16:58] sun2rise commented on #109
@alinz thanks for your work and kudos for the integration!
do you know if `allowFileAccessFromFileURLs` and `allowUniversalAccessFromFileURLs` features will still be available? they add a great value to the package i think but i cannot use those properties with the RN official package...
or maybe you know how to workaround this problem once and for all?

[2017-03-30 03:09] huangxiaohao commented on #112
@Naoto-Ida hello, maybe I have the same issue as you.
In the RN I use the webview to visit a website and the website was return a json data. I want to know in RN how to fetch this json, because I need this json to do next step. Thank you.

[2017-03-30 05:52] Naoto-Ida commented on #112
@huangxiaohao Are you trying to get a JSON from the website on `page load`?

[2017-03-30 16:41] huangxiaohao commented on #112
@Naoto-Ida thank you for your reply!
I was visit a the third party website page, not my html page, that mean when I finish my operation, the  third party website page will return a json data, and I can not do anything in the third party website page. I don't know this describes whether you are clear.

[2017-03-31 01:43] Naoto-Ida commented on #112
@huangxiaohao
Ah, I think I know what your trying to do.
So on the third-party website there is a variable containing JSON?

I would do something like this:

[code]

`YOUR_JSON_VARIABLE_NAME` would be the variable name on the third party website.
Send back the value with the inject script.

[2017-03-31 05:55] 1049017200 opened #221 "【IOS】RN版本0.42上Xcode编译不过"
RN版本0.42上Xcode编译不过

[2017-03-31 06:06] huangxiaohao commented on #112
@Naoto-Ida I'm so sorry for reply you too late, because I met a problem when I installation this component. That take me a lot of time to resolved. But so far,I have no idea to resolve it. :(

[2017-03-31 07:23] Naoto-Ida commented on #112
@huangxiaohao
Ah, what version of RN are you using?
If it's over 0.40, you should check [this](https://github.com/alinz/react-native-webview-bridge/pull/217) out.

[2017-03-31 08:55] huangxiaohao commented on #112
@Naoto-Ida
yeah ... my RN version is "react-native": "0.41.2", over 0.40.
And there are issues in there , I think maybe you're right.

![Uploading 123.png…]()

Should I use this component [react-native-wkwebview](https://github.com/CRAlpha/react-native-wkwebview) in my project?
And I'm not an ios developer, and I don't use the OC, so I so happy that you can help me.
thanks a lot again!!!

[2017-04-01 02:13] huangxiaohao commented on #221
[check this](https://github.com/alinz/react-native-webview-bridge/pull/217)
我也在摸索。。。还在搞明白啥意思。

[2017-04-01 02:23] huangxiaohao commented on #112
@Naoto-Ida  hey, thanks a lot. I tried to do what you tall me, and I didn't use the [react-native-wkwebview](https://github.com/CRAlpha/react-native-wkwebview)
I change my four files like `RCTWebViewBridge.h` according to [Fix iOS imports on RN0.40+ and replace UIWebview with WkWebview](https://github.com/alinz/react-native-webview-bridge/pull/217/commits/0ac0d77e481d282632f18c917b903d891ce1c604#d

[2017-04-01 02:37] huangxiaohao opened #222 "Does not work in iOS"
hey, there have  a issue in my project.

error message:

`
'WebViewBridge' has no propType for native prop 'RCTWebViewBridge.keyboardDisplayRequiresUserAction' of native type 'BOOL'
If you haven't changed this prop yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away.
`

I checked the Issues, and I don'

[2017-04-05 09:08] znafets opened #223 "TyperError: Cannot read property 'NavigationType' of undefined"
Hi,
I trying to use this bridge in my project, but fail to understand why I get the error above ...
Assuming this lib should work as is. So why does it not?  ... unless this project is not maintained anymore?

I am using the latest stable version of react-native

[2017-04-13 06:42] zhangrundong opened #224 "RCTViewManager RCTView"
![image](https://cloud.githubusercontent.com/assets/16918482/24993107/7074c874-2057-11e7-9b59-1fec7f256c0e.png)

[2017-04-14 09:48] feixue1232 commented on #223
I also have the problem, who can help me to reslove it ? thanks

[2017-04-14 10:11] JourneyL opened #225 "how to load react.js"
i try to push my code (by react.js) in the bridge ,my code work by ngrok,but in the webview-bridgt it's not work ,and i push 'WebViewBridge.send' in react.js componentWillMount() ,it warn 'WebViewBridge' is not defined''

[2017-04-14 10:39] #225 closed

[2017-04-17 04:04] 471685249 commented on #223
run a command such as the following:
$ react-native link

[2017-04-21 09:05] swaroopa94 commented on #224
Same issue please anyone help

[2017-04-23 02:49] arjshiv commented on #224
Same issue here, too

[2017-04-23 02:56] arjshiv commented on #224
But works when pulling from `master` - so possibly related to https://github.com/alinz/react-native-webview-bridge/pull/217 ?

[2017-04-25 07:53] #174 closed

[2017-04-25 09:34] vsrboth commented on #224
The issue is still here. I am using

RN: 0.42.0
react-native-webview-bridge: 0.33.0

Can anyone help out?
Thank you so much.

[2017-04-25 10:34] ptilli commented on #169
Got this as well. What was the resolution for this?

[2017-04-26 09:16] kingfun2015 commented on #224
the same issue.
with using
"react-native": "0.40.0",
"react-native-webview-bridge": "^0.33.0"

[2017-04-26 09:53] kingfun2015 commented on #224
You can see here to solve this issue.
[https://github.com/alinz/react-native-webview-bridge/issues/219](url)

[2017-04-26 09:58] naltimari commented on #109
it seems the 'v2' branch was NOT added to React Native's mainline code. The 'rpc' feature is very interesting and exactly what I need.

[2017-04-26 10:02] kingfun2015 commented on #224
If your react-native version more than 0.40,please to change the header file like this
#import "RCTWebViewBridge.h"

#import <UIKit/UIKit.h>

#import <React/RCTAutoInsetsProtocol.h>
#import <React/RCTConvert.h>
#import <React/RCTEventDispatcher.h>
#import <React/RCTLog.h>
#import <React/RCTUtils.h>
#import <React/RCTView.h>
#import <React/UIView+React.h>
#import <objc/runtime.h>

[2017-04-26 12:49] tioback commented on #109
@naltimari, almost that. They didn't merge the v2 branch "as is", however the feature is there.
You can still do the to and fro communication with the WebView.

[2017-04-26 14:34] naltimari commented on #109
@tioback the rpc feature allows me to return a promise to the 'caller' and then resolve it from inside the react app (passing the result of the function call); it's almost like a sync function call, which is what I want

[2017-05-02 02:10] Wjy1005 commented on #221
40以上的需要改OC代码的头文件引入  改成类似这样  #import <React/RCTAutoInsetsProtocol.h>      http://reactnative.cn/post/3277

[2017-05-05 14:27] SiDevesh commented on #109
@tioback @naltimari Could you direct me to where I can get to know more about this rpc feature? Is this something built in react native now ?

[2017-05-06 10:07] naltimari commented on #109
@SiDevesh check the v2 branch of the project. The rpc allows you to offer an API to the webview so it can call methods from your app (that's what I'm working on). Unfortunately the v2 branch is still not compatible with RN40+, so I had to resort to use vext's fork of the master branch, and then implement an rpc-like feature in the injectScript

[2017-05-06 10:51] SiDevesh commented on #109
@naltimari  okay thanks!!

[2017-05-09 11:38] iOSHw commented on #224
Nobody can give a correct answer?

[2017-05-16 13:57] rolandfromrobin commented on #223
I'm running into the same issue :/
@471685249 I tried setting up a new project to verify this, linked the library, got the following result:

`rnpm-install info Linking react-native-webview-bridge android dependency
rnpm-install info Android module react-native-webview-bridge has been successfully linked
rnpm-install info Linking react-native-webview-bridge ios dependency
rnpm-install info iOS mod

[2017-05-24 21:36] aroth commented on #206
Example, updated link:
https://github.com/facebook/react-native/blob/master/RNTester/js/messagingtest.html

[2017-05-29 10:54] vkokku-nisum-com commented on #108
I too faced the same issue.But after adding the library file 'libReact-Native-WebView-Bridge.a' to 'Linked Frameworks and Libraries', resolved the issue

[2017-06-02 19:48] Philipwzj commented on #224
Same problem

[2017-06-07 17:43] roburidge commented on #223
I'm stuck with the same error: `Cannot read property 'NavigationType' of undefined`
I've run `react-native link` successfully which now gives the following output:
[code]

react __16.0.0-alpha.6__
react-native __0.44.0__
react-native-webview-bridge __0.33.0__

[2017-06-09 08:58] rogerluo410 commented on #224
The functionality has already added into RN core module.

So, the author maybe doesn't maintain the repo anymore...

Look at: https://github.com/alinz/react-native-webview-bridge/issues/206

[2017-06-09 08:59] rogerluo410 commented on #221
@huangxiaohao  @1049017200

The functionality has already added into RN core module.

So, the author maybe doesn't maintain the repo anymore...

Look at : https://github.com/alinz/react-native-webview-bridge/issues/206

[2017-06-09 09:19] JeremyZheng commented on #221
这个东西已经停更了，RN的WebView里已经支持了，具体看WebView文档的onMessage方法

[2017-06-11 00:52] QQizi commented on #223
Same here, [https://cdn.pbrd.co/images/h3HwUyfl7.png](screen of the error)
react-native link have been successfully done

[2017-06-15 07:13] aqnaruto commented on #205
yes, we are  seriously needs to be a way to control the cache of WebView, thank you

[2017-06-15 07:22] aqnaruto commented on #109
thankyou great work, does this support cache?

[2017-06-20 08:06] WangZiXiao-ChenDu opened #226 "If you haven't changed this prop yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away."
![image](https://user-images.githubusercontent.com/19464631/27322707-b2c5a96e-55d1-11e7-9aa1-77f332b3bc4f.png)
version:
RN: 0.40,
react-native-webview-bridge: 0.33,

try restart React Packager，but the question remains.

[2017-06-24 07:33] rahutwr33 opened #228 "webViewBrige"
In android it given an error
undefined is not a function (evaluating
WebViewBridge.send("got the message inside webview"); is not a funtion

[2017-06-29 10:46] rajeshkos commented on #53
https://github.com/alinz/react-native-webview-bridge/issues/58

[2017-07-03 16:27] vagnerSl commented on #223
=(

[2017-07-04 09:52] jianjiandandan commented on #226
我也遇到了这个问题，请问你解决了么

[2017-07-04 20:59] vvavepacket commented on #149
@Etheryte  any link that says this is merged to RN core and how to use it on android?

[2017-07-04 21:06] vvavepacket commented on #109
so whats the status for this on react native 0.45 and above? was this integrated in core? i cant see on documentation that this supports android.

[2017-07-04 21:25] eric-muyser-hs commented on #224
@kingfun2015 That doesn't work. I suspect it's building RCTView etc. into the library and conflicting. Should be dynamically linked? That's a project setting right?

[2017-07-04 22:07] eric-muyser-hs commented on #224
I have a fix, will post diff later. Basically just move the .h includes from the .m into the .h and change to `<>` not `""`

[2017-07-05 02:32] vvavepacket opened #229 "logging webview into console"
How do we log console.log of webviews into console?

[2017-07-05 13:53] vvavepacket commented on #205
any workaround for this? i need my webview to refresh the webpage it has right now (invalidate the cache),,, its not reflecting latest html/js code....

[2017-07-05 18:52] ericmuyser commented on #224
Fix is in PR #230 if anybody needs it

[2017-07-06 17:50] ericmuyser commented on #222
Need to delete this line:
https://github.com/alinz/react-native-webview-bridge/blob/master/ios/RCTWebViewBridgeManager.m#L53

[2017-07-14 18:11] fungilation opened #232 "Replace React.createClass with createReactClass (react 15.5+)"
Chrome console output, on RN 0.46.2:
[code]

A sample PR to fix: https://github.com/maxs15/react-native-modalbox/pull/148/files

[2017-07-17 06:38] yanhaijing commented on #109
+1

[2017-07-18 08:43] yanhaijing opened #233 "some android has a bug"
when click to open a image, close button can not close image, some android (5.0)

<img width="371" alt="wx20170718-164219 2x" src="https://user-images.githubusercontent.com/3192087/28308197-1768d064-6bd8-11e7-93d7-801867937e1e.png">

[2017-07-25 12:33] #224 closed

[2017-07-27 12:34] jariwalabhavesh commented on #109
+1

[2017-08-16 15:41] ronaldozanoni commented on #167
+1

[2017-08-17 18:21] alinz opened #235 "Looking for Maintainer(s)"
I have been really busy and I can't continue maintaing this repo alone. I would like to ask if anyone wants to help I can grant a permission both on github and npm to start merging a lot of request and dealing with issues.

Please send me your github and npm id so I can add you in.

Thanks!

[2017-08-19 17:30] vvavepacket opened #236 "Duplicate interface definition for class RCTViewManager"
Help guys, this is my first time doing Xcode stuff. Ive been successful in Android, but having this issues on iOS for hours. Can anyone shed me some light on how to solve this error?

Thank you.

![image](https://user-images.githubusercontent.com/8295642/29488916-963dc714-84e2-11e7-826f-8e23740af9da.png)

[2017-08-20 06:22] vvavepacket opened #237 "iOS bug WebViewBridge has no propType for nativeprop RCTWebViewBridge"
Works on android, but on iOS. Shows this error. Any idea how to solve this?

![screen shot 2017-08-19 at 11 18 01 pm](https://user-images.githubusercontent.com/8295642/29492587-580e08ac-854e-11e7-955e-c7aaace6e6de.png)

[2017-08-20 06:22] vvavepacket commented on #203
were u able to solve this? i encountered the same.
![screen shot 2017-08-19 at 11 18 01 pm](https://user-images.githubusercontent.com/8295642/29492589-6f840e3c-854e-11e7-815e-e0f253ec14e9.png)

[2017-08-21 15:42] trops commented on #223
agreed, getting the NaviationType undefined error as well.

[2017-08-22 11:44] Rahulkishanm commented on #237
Please help!!!

[2017-08-22 11:59] rolandfromrobin commented on #223
I was able to link the module by calling react-native link after installing.
Make sure your link succeeded by checking (in XCode) that your project has the following library under the Libraries folder: React-Native-Webview-Bridge.xcodeproj. If not, add it.
Then, click on your project, go to the General tab, and scroll down to Linked Frameworks and Libraries. Make sure libReact-Native-Webview-Bridg

[2017-08-25 03:49] david-olaf commented on #223
It works for me. Thanks

[2017-09-05 02:33] jmuchaxo commented on #236
I am facing the same issue, also starting with iOS, I did this:
sudo npm install -g react-native-cli
npm install
./link.sh
react-native link
react-native run-ios
compiling on Xcode I get the same problem

[2017-09-05 03:44] jmuchaxo commented on #236
I looked up the error on google and found this bug is similar to
https://github.com/shoutem/ui/issues/134
so I changed the includes mentioned in the above link to use prefix React/

 RCTWebViewBridge.h:
#import "React/RCTView.h"

 RCTWebViewBridge.m:
#import "React/RCTAutoInsetsProtocol.h"
#import "React/RCTConvert.h"
#import "React/RCTEventDispatcher.h"
#import "React/RCTLog.h"
#import "React/RCT

[2017-09-06 01:57] combing520 opened #240 "Cannot pick picture or call the camera"
Dear Author,
I find it can not call the  camera or gallery to pick a picture,  the H5 page has the funcation to do this , so I want to know how can I  do this  just like  the H5 page with  your  "react-native-webview-bridge" ?
 Thanks

[2017-09-06 23:05] markeins commented on #109
Hi, so any news when this will be merged into core?

[2017-09-21 08:18] asapping99 opened #242 "Please update to the latest release."
I do not have a version released after 0.33.0.
There is a bug in the IOS that has a source in the master, which can not be received in npm because of the release.
Please update to the latest release.

[2017-10-02 21:01] facuescobar commented on #223
Thanks! that worked to me too!

[2017-10-03 12:58] jenskuhrjorgensen commented on #69
GEEEEEEEZUZ christ
Thank @MacKentoch for pointing me in the direction of retarded errors. I also had problems executing injected scripts on Android whereas it worked flawless on iOS. After reading your solution I removed all comments, but it still didn't work. However, I then added **SEMICOLON's** at each and every line ending and now it works. Once again: Thanks! :D

[2017-10-03 14:44] facuescobar commented on #197
@johnpaulmanoza have you fixed this? I am having the same issue.

@MatthewAwesome your answer doesn't help at all, you posted the same answer in other issue too.
If you are not going to investigate specific cases, don't waste time posting generic answers.

[2017-10-03 15:13] facuescobar commented on #197
My solution to make it work:

I am injecting some JS code to read cookies in WebViewBridge , and the injected code wasn't running.
The issue was that Android doesn't allow commented code or 'spaces'.

So I removed unnecessary code from my injectedJS and started to work.

[code]

[2017-10-09 09:45] marcosschroh commented on #185
Hi @3449790992,

I was having a couple of issues with injecting javascript on Andoird. I can tell you that you should remove all the comments, be sure that you had put all the semicolons and try to minify your javascript code. After that, the alert and global variables will work.

![screen shot 2017-10-09 at 11 44 52](https://user-images.githubusercontent.com/2828842/31332587-3cae54ac-ace7-11e7-93

[2017-10-09 16:40] abolger commented on #242
I don't think this is being actively maintained at the moment, but I have created a PR that will get you to the latest React 0.49.1: based on this source:
https://github.com/alinz/react-native-webview-bridge/pull/243

You can al

[2017-10-10 03:31] andersondecarvalho commented on #236
same issue

[2017-10-13 07:43] thyzzv commented on #223
Just use the latest from master also does the trick:
react-native-webview-bridge "git://github.com/alinz/react-native-webview-bridge.git#master"

[2017-10-18 02:42] vvavepacket opened #244 "callback when webview finished rendering/loaded"
Is there any callback we can use where it will be called once webview page is fully rendered/finished loading?

[2017-10-20 03:04] jeffzing opened #245 "injectedJavaScript not work at all"
I want to change the 'autoplay' Attribute  of webview  "video" to 'true' state,but the video still can not autoplay, anything wrong with my code?

`let jscodeTest = 'document.addEventListener("DOMContentLoaded", init, false);' +
      'function init() {'+
      'document._video = document.getElementsByTagName("video")[0];' +
      'document._video.setAttribute(media_properties[autoplay],’true’);}'

[2017-10-20 03:05] jeffzing commented on #245
let jscodeTest = 'document.addEventListener("DOMContentLoaded", init, false);' +
      'function init() {'+
      'document._video = document.getElementsByTagName("video")[0];' +
      'document._video.setAttribute(media_properties[autoplay],’true’);}';

<WebView
                  source={{uri:'https://v.qq.com/iframe/player.html?vid=v0561w7vjli&tiny=0&auto=0',method: 'GET'}}
                  jav

[2017-10-23 19:49] hughlang commented on #109
+1

[2017-10-25 13:37] AlexejKutsko commented on #95
I have same problem.
I use npm i https://github.com/alinz/react-native-webview-bridge, but this not help me.
any solutions?

[2017-10-28 14:08] io-pan commented on #95
Works fine with RN 0.44.2

But I'm having the problem with RN 0.49.3
 even using npm i https://github.com/...

[2017-10-30 01:36] tianweicc opened #246 "Can this component clear the cache of WebView?"
Can this component clear the cache of WebView?

[2017-10-30 15:29] AlexejKutsko commented on #95
Thanks, works with RN 0.44.2.

[2017-11-07 21:16] thejacobseely commented on #95
After doing some research, I discovered that "PropTypes" has been migrated to its own package.
(For more details, see [https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes](url)).

I solved the issue by changing the following in index.ios.js:
`var { PropTypes } = React;`
to
`var PropTypes = require("prop-types");`

After that, I got an error with React.createClass

[2017-11-09 08:45] edison0951 commented on #236
because of the new version of react native has change to framework, so the RCTWebViewBridge.h can't found. You must add "React" or <React> prefix to head file.

[2017-11-14 19:33] neiker commented on #109
+1

[2017-11-16 07:05] jianjiandandan opened #247 "请问一下 iOS只要一装这个三方库，就会报RCTWebViewBridgeManager.NavigationType ，这是因为什么"
请问一下 iOS只要一装这个三方库，就会报RCTWebViewBridgeManager.NavigationType ，这是因为什么

[2017-11-25 00:21] Timoteus78 commented on #95
@thejacobseely Thanks for your comment, that def got me further. Though now I run into _"RCTWebViewBridge" does not exist_ I noticed that the latest branch (V2) hasn't been touched for 11 months and has diverged a lot from master.  Did you end up getting it to work?

[2017-12-08 01:02] tianweicc opened #248 "Does Android support self-adaptive"
Does Android support self-adaptive

[2017-12-11 17:15] linnett opened #249 "Broken in 0.51"
Is this plugin still supported? It doesn't work in RN 0.51.

[2017-12-11 22:44] JF-13 commented on #108
Hey guys! what should my rnpm look like and after that what should the "react-native link ...  " look like? ive already followed installation documentation and updated with npm link that you suggested but im still getting "undefined is not an object (evaluating 'propTypes.func') at index.ios.js:105:31"

[2017-12-11 23:47] fungilation commented on #249
I'm using my own fork and has been working up to RN 0.51: https://github.com/fungilation/react-native-webview-bridge

[2017-12-12 12:13] linnett commented on #249
Thanks @fungilation

[2017-12-12 12:13] #249 closed

[2017-12-18 23:37] NaveenDK commented on #109
@alinz , just wondering if we could use this with expo react native? Thanks

[2017-12-20 01:43] bjacog commented on #235
I think you should copypasta this to the current open pull requests for more attention.

[2017-12-28 16:00] pongponglau commented on #247
I am using RN0.47. I encounter the same error. Do you have any solution? Thanks a lot

[2018-01-02 00:58] vvavepacket opened #253 "Does iOS show webview console logs?"
In Android, we can see webview console logs thru Chrome's remote devices. How about iOS devices?

[2018-01-15 10:42] luoluojuan commented on #247
想知道答案。。。

[2018-01-19 09:58] pacamara opened #255 "Changes needed for gradle 3.0.1 compatibility"
Some minor changes are needed for gradle 3.0.1 compatibility: in android/build.gradle:
* Remove the `buildToolsVersion`, gradle now specifies a default and the current value conflicts with that.
* Declare dependencies using `api` not `compile` per https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html#new_configurations

We are currently hacking these changes with a script i

[2018-01-22 06:40] baifengming1986 commented on #197
@facuescobar I have the same problem，I use sendToBridge method send JSON string，I use JSON.parse to parse the JSON string in html,but it not working. how can i resolve this problem？

[2018-01-23 14:19] Barylskyigb commented on #109
The core has this feature now

[2018-01-23 16:54] fungilation commented on #109
No it doesn't. Core has a f'ed up version with .postMessage that gets overrided by websites in the wild, rendering it useless.

[2018-01-26 11:00] robertjuh commented on #203
i have the same error when trying this in viro react.

 react-native -v gives this result:
react-native-cli: 2.0.1
react-native: 0.47.2

[2018-01-28 22:56] jose920405 opened #256 "Not works in react-native 0.51"

[2018-01-30 08:41] nazrdogan commented on #256
React 16 don't have createClass.  I changed inside node_modules like this way. it works :)
[code]

[2018-02-10 03:40] #91 closed

[2018-02-14 14:00] ckleo commented on #247
Make sure that you have linked this lib correctly.

[2018-02-20 09:05] MAYDAY1993 opened #257 "error: 'React/RCTBorderStyle.h' file not found"
Hi ,

recently I came up with build failed error ,but I've no idea

the error look like this:

<img width="950" alt="screen shot 2018-02-20 at 4 56 10 pm" src="https://user-images.githubusercontent.com/14831051/36415052-78dab8bc-165f-11e8-903b-fb4f707e9715.png">

I run the project as usual, and I can successfully clean the xcode

the only change may be I changed the xcode: **workspace setting** a

[2018-03-09 02:20] sunny635533 commented on #109
+1

[2018-03-26 05:39] 1335382915 commented on #193
Need help too!

[2018-04-08 03:12] BaroneX opened #259 "keyBoard"
"react-native": "^0.25.1",
 "react-native-webview-bridge": "^0.33.0",

I'm using RN(0.25),when i attempt to input in webviewBridge the key board will show like this,
![bd14c343aaec8d16987241f5dda01adb](https://user-images.githubusercontent.com/6743367/38462625-00c78fac-3b1d-11e8-886f-23e5e57b34b1.jpg)
the web is jumped top by the keyboard
but i found nothing wrong in RN webview,

[2018-04-26 08:17] chinalwb opened #260 "Build failed after select `libReact-Native-Webviwe-Bridge.a` and click `Add` button."
Build failed after select `libReact-Native-Webviwe-Bridge.a` and click `Add` button. Remove the link build will be OK.

My project is React Native 0.55.3

[2018-04-26 16:04] jgartner1 commented on #95
@thejacobseely @Timoteus78 I have the same issue. It just can't resolve _RCTWebViewBridge_ The error message is:

And linking it with _npm link_  as @JF-13 suggested it didn't help at all. The error persits. @Timoteus78 have you found a solution to this already? If so please tell me, I really need this WebViewBridge. And yeah that's an interesting question wheter @thejacobseely got it working??

[2018-05-02 22:06] fungilation commented on #185
I second on removal of comments in the injected script. Took me a a fair bit of trial and error before I isolate to that, the same injected script that works on iOS but not on android.

So, wtf? Is comments too much for android's webview?

[2018-05-03 04:32] singhlovey opened #261 "How to modify injectable JavaScript on server side in React Native?"
Hi

I have open simple page with one form using webView component. Now what I want is whenever it gets submit, I want success message under my React Native code. In webView we can inject JavaScript from our React Native code to server side and it works. But I want to modify that JavaScript on server side and want to pass dynamic success message which I can use under my React Native code.

If there

[2018-05-03 15:05] devkungfu124 opened #262 "Save login info in webview"
Hi guys.

I want to save login info to local storage in webview.
So I can get last logged in status when I reopen the app.
Is it possible?
Thank you.

[2018-05-06 01:25] fonko commented on #95
@thejacobseely i follow your instrucctions and still have undefined is not an object (evaluating 'PropTypes.func')

:(

[2018-05-22 21:22] ethanyuwang commented on #260
having the same issue

[2018-06-04 02:58] thangkho opened #263 "How I can get height of webview after loaded"
I want add a view below webview bridge so I want get height of webview bridge, withd WebView in react-native I can get it with
https://gist.github.com/herbertdai/7bf8fd8a6194037089d2d20b4fde8c0b
but I don't know get height of WebViewBridge after web loaded

[2018-06-07 13:37] alexgnatrow commented on #260
As am I. Any one tend to solve it?

[2018-06-18 13:41] #63 closed

[2018-06-18 13:42] #64 closed

[2018-06-18 13:56] #107 closed

[2018-06-28 02:42] ghostknow opened #264 "How can I install the latest webview-bridge module?"
After use npm install react-native-webview-bridge --save command, I saw the source code still is using out of date coding, like var { PropTypes } = React;. How can I install the latest version? Thanks.

[2018-06-28 11:35] chansuke commented on #264
@ghostknow Thank you for the comment.The code you read is the latest version since Alinz(the author of the library) getting busy to maintain but am planning to update the code & version in order.

[2018-06-30 02:05] fungilation opened #265 "Links open in Chrome on Android instead of WebView, on RN 0.56"
Took me a long while to figure this out, here's the workaround:
[code]

Without this, on RN 0.56 on Android, links would default open by Android in Chrome instead of the app's WebView. `originWhitelist` is new to RN 0.56, and `react-native-webview-bridge` lacks the default supplied in JS to the Native WebView. So originWhitelist needs to be supplied in userland, or it can be added in `react-native

[2018-07-05 02:34] steelegg opened #266 "React-native 5.1 installation error"
![image](https://user-images.githubusercontent.com/32324541/42299504-1d1f271c-803e-11e8-8403-bf930a82aeb7.png)
Hello, I add the React-native-Webview-bridge.a file according to the installation method on the document, but I made the following mistakes, I don't know how to ISO.

[2018-07-05 02:36] steelegg commented on #266
but The Android platform can run normally

[2018-07-05 02:39] steelegg commented on #260
我也遇到了这个问题

[2018-07-05 14:06] #264 closed

[2018-07-20 12:57] lichenghai commented on #236
Thanks to jmuchaxo, it works fine!

[2018-07-24 09:36] steelegg commented on #266
I've done it, and there's a react-native-webview-bridge-update folder under the node_modules folder, which can be added to the React-native-Webview-bridge.a file in this folder.

[2018-07-25 10:25] winadiw opened #267 "PropType.func undefined and React.createClass undefined in React 16"
For those of you ran into trouble using latest React and React Native, please modify the code index.android.js and index.ios.js (`/node_modules/react-native-webview-bridge/webview-bridge/index.android.js` && `/node_modules/react-native-webview-bridge/webview-bridge/index.ios.js`) as follow:

- run `npm install --save create-react-class`

- add code in the top of the file, after `var React = requir

[2018-07-27 05:01] bhargavb07 commented on #109
+1

[2018-07-28 08:04] alihesari commented on #109
+1

[2018-07-31 12:53] pgonzalez-santiago opened #268 "'React/RCTBridgeModule.h' file not found"
"react-native": "^0.56.0",
"react-native-webview-bridge": "^0.33.0",

Hey guys, after following the steps I am getting this error:

'React/RCTBridgeModule.h' file not found

<img width="271" alt="screen shot 2018-07-31 at 14 52 28" src="https://user-images.githubusercontent.com/17064785/43460611-6304f552-94d1-11e8-8948-27529863e1b6.png">

any ideas?

Thank you.

[2018-08-01 12:49] suwu150 commented on #223
i meet it.i react-native link ， But it doesn't work
[code]

[2018-08-01 12:49] suwu150 commented on #223
i meet it.i react-native link ， But it doesn't work
[code]

[2018-08-06 07:40] ShridharCodewave commented on #95
@thejacobseely I encountered same problems and I followed your steps but after replacing
var WebViewBridge = React.createClass({    by   var WebViewBridge = createReactClass({
Iam getting a new error saying "can't find variable: createReactClass".
Does anyone know solution for this problem?

[2018-08-06 09:17] ShridharCodewave opened #269 "Can't import inside react-native-vimeo"
Iam trying to build an app with react-native-vimeo which requires react-native-webview-bridge.
I have already installed both packages but Iam getting an error saying
"Super expression must either be null or a function, not undefined " inside Vimeo.ios.js
and Iam importing webview-bridge as "import WebViewBridge from 'react-native-webview-bridge';"
which is not working.

[2018-08-06 20:42] prospegto commented on #95
@ShridharCodewave
`var createReactClass = require('create-react-class');`
Did you add it?

[2018-08-07 04:42] ShridharCodewave commented on #95
@prospegto  Yes I did and the issue is solved now :)

[2018-08-07 05:46] #269 closed

[2018-08-08 06:05] zhuchuanwu commented on #268
我也是

[2018-08-16 06:56] daxiangaikafei commented on #260
open Libraries and find React-Native-Webview-Bridge.xcodeproj
1、remove  #import <React / RCTView.h>  from RCTView.h
2、modify  #import <React / RCTViewManager.h> to  #import "RCTViewManager.h" from RCTUIManager.h
3、modify  #import "RCTBridge.h" to #import "React / RCTBridge.h" from RCTWebViewBridgeManager.m
4、modify  #import "RCTLog.h" to #import "React / RCTLog.h" from RCTWebViewBridge.m

build su